config/node-red/flows.json
[{"id":"91227214.dd127","type":"tab","label":"Home or Away","disabled":false,"info":""},{"id":"fea072e.26e229","type":"tab","label":"Coming Home","disabled":false,"info":""},{"id":"f83b6212.788a88","type":"tab","label":"Auto Lights","disabled":false,"info":""},{"id":"f4d3e9c5.925a48","type":"tab","label":"Restart","disabled":false,"info":""},{"id":"eed3ce1e.28271","type":"tab","label":"Debug Logging","disabled":false,"info":""},{"id":"af62fbbc.5a44e","type":"tab","label":"Surround Sound","disabled":true,"info":""},{"id":"28a6a8fa.f7d4c","type":"tab","label":"Stat Sync","disabled":true,"info":""},{"id":"9780cfe4.90645","type":"tab","label":"Lounge Switch","disabled":false,"info":""},{"id":"9381589f.b1e528","type":"tab","label":"Doors","disabled":false,"info":""},{"id":"f3d50137.e5cf2","type":"tab","label":"2 Way Lighting","disabled":false,"info":""},{"id":"feaae9ba.ae88a","type":"tab","label":"Tradfri Remote (ST)","disabled":true,"info":""},{"id":"8b4f69f4.4c17a8","type":"tab","label":"OliviaRemote","disabled":false,"info":""},{"id":"3b484f76.268148","type":"tab","label":"Playroom Remote","disabled":false,"info":""},{"id":"4381a749.36f3d8","type":"tab","label":"Timed Off Lights","disabled":false,"info":""},{"id":"e937e743.6adc38","type":"tab","label":"Bedroom Remote","disabled":true,"info":""},{"id":"f0163bb3.8ccda8","type":"tab","label":"xmas lights","disabled":true,"info":""},{"id":"903a231e.7c3728","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"f28d7b09.cf0fe8","type":"tab","label":"Overrides","disabled":true,"info":""},{"id":"ef34104f.ded1","type":"tab","label":"Work Arounds & Hacks","disabled":false,"info":""},{"id":"c7b56b62.bc06b8","type":"tab","label":"My Stat","disabled":true,"info":""},{"id":"ba7ee3a7.d1849","type":"tab","label":"Vstat","disabled":false,"info":""},{"id":"78c82a4d.d74b64","type":"tab","label":"Em Roku","disabled":false,"info":""},{"id":"ef578843.208fa8","type":"tab","label":"Motion Lights","disabled":false,"info":""},{"id":"1dde20bc.30ba6f","type":"tab","label":"Alarms","disabled":false,"info":""},{"id":"92a564e0.0fba78","type":"tab","label":"Tradfri Remote (deConz)","disabled":false,"info":""},{"id":"dc9525f1.7890b8","type":"tab","label":"iMac","disabled":false,"info":""},{"id":"43406816.aed208","type":"tab","label":"Harmony","disabled":true,"info":""},{"id":"8f02f6a2.99b098","type":"tab","label":"Bedtime Extras","disabled":false,"info":""},{"id":"680e90c1.35bd5","type":"tab","label":"Speakers","disabled":false,"info":""},{"id":"5b01482c.bdd588","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"e18da729.eb53c8","type":"server","z":"","name":"Home Assistant"},{"id":"c61e66c3.8b3ad8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"86363da5.90f258","type":"nora-config","z":"","name":"Hassio","group":"","notify":false},{"id":"65b4e197.0aac5","type":"ui_group","z":"","name":"Temperature","tab":"a97107fd.1a7298","order":1,"disp":true,"width":"6","collapse":false},{"id":"a97107fd.1a7298","type":"ui_tab","z":"","name":"Stat","icon":"dashboard","disabled":false,"hidden":false},{"id":"30f4371.cb05548","type":"mqtt-broker","z":"","name":"OptiSERVE","broker":"192.168.7.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"151a1091.4a044f","type":"server","z":"","name":"Home Assistant"},{"id":"f965c449.cc86b8","type":"harmony-server","z":"","name":"Harmony Hub","ip":"192.168.2.250"},{"id":"6ad47153.6651f","type":"server","z":"","name":"HA - Default","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"3c9189bf.ad376e","type":"api-call-service","z":"91227214.dd127","name":"Home","server":"e18da729.eb53c8","version":0,"service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.someone_home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":870,"y":240,"wires":[["d730d29a.f89eb8"]]},{"id":"812526f7.44547","type":"api-call-service","z":"91227214.dd127","name":"Away","server":"e18da729.eb53c8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.someone_home\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":400,"wires":[["d730d29a.f89eb8"]]},{"id":"d730d29a.f89eb8","type":"debug","z":"91227214.dd127","name":"Home or Away","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1270,"y":340,"wires":[]},{"id":"681765d1.8a192c","type":"server-state-changed","z":"91227214.dd127","name":"John Home","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.john","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":130,"y":240,"wires":[["3c9189bf.ad376e"],["5b42f837.2a12a"]]},{"id":"ba226a74.fa948","type":"server-state-changed","z":"91227214.dd127","name":"Emma Home","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.emma","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":130,"y":300,"wires":[["3c9189bf.ad376e"],["ffa5b735.ed5e78"]]},{"id":"aa74df9.c44622","type":"api-call-service","z":"f83b6212.788a88","name":"Turn On switch 3","server":"e18da729.eb53c8","version":1,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.main_lights_lr_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":240,"wires":[["4288af1e.a6579"]]},{"id":"4288af1e.a6579","type":"debug","z":"f83b6212.788a88","name":"Auto On","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":970,"y":60,"wires":[]},{"id":"79227d88.70d1b4","type":"api-current-state","z":"f83b6212.788a88","name":"Someone Home?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.someone_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":190,"y":240,"wires":[["875f56e9.925fc8"],["4288af1e.a6579"]]},{"id":"74a28ee6.b54a9","type":"server-state-changed","z":"91227214.dd127","name":"Guest Home","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.guest","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":130,"y":360,"wires":[["3c9189bf.ad376e"],["61001941.e7edc8"]]},{"id":"932b7f72.3c8de8","type":"debug","z":"fea072e.26e229","name":"Coming Home","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":140,"wires":[]},{"id":"2eb01e6b.d08daa","type":"server-state-changed","z":"fea072e.26e229","name":"home?","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.someone_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":140,"wires":[["2210e89e.3360a8"],[]]},{"id":"882ec3eb.adeb08","type":"server-state-changed","z":"f83b6212.788a88","name":"Not Dark","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.getting_dark","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":380,"wires":[["473223cc.bdb65c"],[]]},{"id":"473223cc.bdb65c","type":"api-call-service","z":"f83b6212.788a88","name":"Turn Off Lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.all_downstairs_lights, group.light_switches","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":380,"wires":[["757933ce.1ecb74"]]},{"id":"757933ce.1ecb74","type":"debug","z":"f83b6212.788a88","name":"Auto Off","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":590,"y":380,"wires":[]},{"id":"2210e89e.3360a8","type":"api-current-state","z":"fea072e.26e229","name":"getting dark?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.getting_dark","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":230,"y":140,"wires":[["9d74feed.534e7"],[]]},{"id":"8c69aa1a.afa66","type":"server-state-changed","z":"f4d3e9c5.925a48","name":"Restart Button","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.restart_homeassistant","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":50,"y":140,"wires":[["262c6a4b.fdde2e"],[]]},{"id":"262c6a4b.fdde2e","type":"api-call-service","z":"f4d3e9c5.925a48","name":"restart","server":"e18da729.eb53c8","version":0,"service_domain":"homeassistant","service":"restart","data":"","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":260,"y":140,"wires":[[]]},{"id":"c46ee729.9a2108","type":"server-state-changed","z":"eed3ce1e.28271","name":"","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.debug_logging","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":220,"wires":[["95b9d6a2.803628"],["ce42f4ec.e14c2"]]},{"id":"95b9d6a2.803628","type":"api-call-service","z":"eed3ce1e.28271","name":"debug","server":"e18da729.eb53c8","service_domain":"logger","service":"set_default_level","data":"{\"level\": \"debug\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":180,"wires":[[]]},{"id":"ce42f4ec.e14c2","type":"api-call-service","z":"eed3ce1e.28271","name":"info","server":"e18da729.eb53c8","service_domain":"logger","service":"set_default_level","data":"{\"level\": \"info\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":260,"wires":[[]]},{"id":"26144276.236fde","type":"server-state-changed","z":"af62fbbc.5a44e","name":"Surround Power","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.surround_sound","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":120,"wires":[["54ce729f.86a994"]]},{"id":"4fe846b9.9dea18","type":"server-state-changed","z":"af62fbbc.5a44e","name":"Surround Effect","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.surround_sound_effect_toggle","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":240,"wires":[["4be8a9bb.65e72","61aa7595.7c21dc"],[]]},{"id":"54ce729f.86a994","type":"api-call-service","z":"af62fbbc.5a44e","name":"Toggle Power","server":"e18da729.eb53c8","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.harmony_hub\",\"device\":\"Logitech Amp\",\"command\":\"PowerToggle\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":120,"wires":[["608f7355.2358fc"]]},{"id":"4be8a9bb.65e72","type":"api-call-service","z":"af62fbbc.5a44e","name":"Toggle Effect","server":"e18da729.eb53c8","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.harmony_hub\",\"device\":\"Logitech Amp\",\"command\":\"Effect\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":220,"wires":[["37339f37.51f29"]]},{"id":"61aa7595.7c21dc","type":"api-call-service","z":"af62fbbc.5a44e","name":"reset toggle","server":"e18da729.eb53c8","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.surround_sound_effect_toggle\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":280,"wires":[["37339f37.51f29"]]},{"id":"608f7355.2358fc","type":"debug","z":"af62fbbc.5a44e","name":"power","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":120,"wires":[]},{"id":"37339f37.51f29","type":"debug","z":"af62fbbc.5a44e","name":"effect","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":240,"wires":[]},{"id":"c2b2709.0df3c1","type":"server-state-changed","z":"af62fbbc.5a44e","name":"Telly Sound","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.surround_sound","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":400,"wires":[["51633b68.fb1a14"],["30b88e69.885522"]]},{"id":"51633b68.fb1a14","type":"api-call-service","z":"af62fbbc.5a44e","name":"turn telly down","server":"e18da729.eb53c8","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.harmony_hub\",\"device\":\"Samsung TV\",\"command\":\"VolumeDown\",\"num_repeats\":\"15\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":380,"wires":[["370efcc8.2c23d4"]]},{"id":"30b88e69.885522","type":"api-call-service","z":"af62fbbc.5a44e","name":"turn telly up","server":"e18da729.eb53c8","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.harmony_hub\",\"device\":\"Samsung TV\",\"command\":\"VolumeUp\",\"num_repeats\":\"10\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":460,"wires":[["370efcc8.2c23d4"]]},{"id":"370efcc8.2c23d4","type":"debug","z":"af62fbbc.5a44e","name":"telly volume","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":420,"wires":[]},{"id":"9034b244.ee5e38","type":"debug","z":"28a6a8fa.f7d4c","name":"real stat change","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":60,"wires":[]},{"id":"19862025.a90b88","type":"api-current-state","z":"28a6a8fa.f7d4c","name":"target data","server":"e18da729.eb53c8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.thermostat","state_type":"str","state_location":"data.attributes.temperature","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":120,"wires":[["9034b244.ee5e38","119a6a42.f2ea9e"]]},{"id":"8489865b.6c82c","type":"server-state-changed","z":"28a6a8fa.f7d4c","name":"","server":"e18da729.eb53c8","version":1,"entityidfilter":"sensor.target_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":120,"wires":[["19862025.a90b88","9034b244.ee5e38"]]},{"id":"71b6c65b.73d8f8","type":"debug","z":"28a6a8fa.f7d4c","name":"virtual stat set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":140,"wires":[]},{"id":"119a6a42.f2ea9e","type":"api-call-service","z":"28a6a8fa.f7d4c","name":"set virtual stat","server":"e18da729.eb53c8","version":"1","debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.hall_stat","data":"{\"temperature\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":140,"wires":[["71b6c65b.73d8f8"]]},{"id":"38bd3c21.64df9c","type":"server-state-changed","z":"28a6a8fa.f7d4c","name":"","server":"e18da729.eb53c8","version":1,"entityidfilter":"climate.hall_stat","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":170,"y":300,"wires":[["9f35f35c.70f588","37794069.508508"]]},{"id":"16e20e4b.37d072","type":"api-call-service","z":"28a6a8fa.f7d4c","name":"set real stat","server":"e18da729.eb53c8","version":1,"service_domain":"climate","service":"set_temperature","entityId":"climate.thermostat","data":"{\"temperature\":\"{{data.attributes.temperature}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":260,"wires":[["ca2d1f62.61bad"]]},{"id":"ca2d1f62.61bad","type":"debug","z":"28a6a8fa.f7d4c","name":"real stat set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":260,"wires":[]},{"id":"1f1aa39d.8b46b4","type":"debug","z":"28a6a8fa.f7d4c","name":"obj - virtual stat change","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":380,"wires":[]},{"id":"9f35f35c.70f588","type":"debug","z":"28a6a8fa.f7d4c","name":"virtual stat change - pre target","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":440,"wires":[]},{"id":"37794069.508508","type":"api-current-state","z":"28a6a8fa.f7d4c","name":"","server":"e18da729.eb53c8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.hall_stat","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":300,"wires":[["16e20e4b.37d072","1f1aa39d.8b46b4"]]},{"id":"1f3c154a.19b36b","type":"server-state-changed","z":"28a6a8fa.f7d4c","name":"Home or Away","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.someone_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":620,"wires":[["df0e01da.2a9ea8"],["e5d3f5ab.9c272"]]},{"id":"df0e01da.2a9ea8","type":"api-call-service","z":"28a6a8fa.f7d4c","name":"Home Temp","server":"e18da729.eb53c8","service_domain":"climate","service":"set_temperature","data":"{\"entity_id\":\"climate.thermostat\",\"temperature\":\"20\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":600,"wires":[["2cdd2660.8eda52"]]},{"id":"2cdd2660.8eda52","type":"debug","z":"28a6a8fa.f7d4c","name":"set temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":620,"wires":[]},{"id":"e5d3f5ab.9c272","type":"api-call-service","z":"28a6a8fa.f7d4c","name":"Away Temp","server":"e18da729.eb53c8","service_domain":"climate","service":"set_temperature","data":"{\"entity_id\":\"climate.thermostat\",\"temperature\":\"15\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":640,"wires":[["2cdd2660.8eda52"]]},{"id":"1daba173.a5d247","type":"server-state-changed","z":"28a6a8fa.f7d4c","name":"","server":"e18da729.eb53c8","version":1,"entityidfilter":"climate.hall_stat","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":820,"wires":[["2747d305.4d75ac","eb010aa8.6dffe8"]]},{"id":"eb010aa8.6dffe8","type":"switch","z":"28a6a8fa.f7d4c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"heat","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":420,"y":820,"wires":[["94471bf2.13cc3"],["cd181e38.84a508"],["f7cc0757.cb54a"]]},{"id":"94471bf2.13cc3","type":"api-call-service","z":"28a6a8fa.f7d4c","name":"turn off","server":"e18da729.eb53c8","service_domain":"climate","service":"turn_off","data":"{\"entity_id\":\"climate.thermostat\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":780,"wires":[["bdff3d2d.d3be08"]]},{"id":"f7cc0757.cb54a","type":"api-call-service","z":"28a6a8fa.f7d4c","name":"turn on","server":"e18da729.eb53c8","service_domain":"climate","service":"turn_on","data":"{\"entity_id\":\"climate.thermostat\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":860,"wires":[["fb257aa2.52df3"]]},{"id":"bdff3d2d.d3be08","type":"debug","z":"28a6a8fa.f7d4c","name":"v-p: off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":780,"wires":[]},{"id":"fb257aa2.52df3","type":"debug","z":"28a6a8fa.f7d4c","name":"v-p: on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":860,"wires":[]},{"id":"cd181e38.84a508","type":"debug","z":"28a6a8fa.f7d4c","name":"v-p: idle","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":820,"wires":[]},{"id":"a9c8b5ad.5d01e","type":"server-state-changed","z":"28a6a8fa.f7d4c","name":"","server":"e18da729.eb53c8","version":1,"entityidfilter":"climate.thermostat","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":200,"y":1060,"wires":[["19498730.5f1799","15aa3d15.b5b463"]]},{"id":"15aa3d15.b5b463","type":"switch","z":"28a6a8fa.f7d4c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"unknown","vt":"str"},{"t":"eq","v":"heat","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":440,"y":1060,"wires":[["805c22e1.1ab24"],[],[],["cfde81c9.58c56"]]},{"id":"805c22e1.1ab24","type":"api-call-service","z":"28a6a8fa.f7d4c","name":"turn off","server":"e18da729.eb53c8","service_domain":"climate","service":"turn_off","data":"{\"entity_id\":\"climate.hall_stat\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1020,"wires":[["6f4f4f82.fe32f"]]},{"id":"cfde81c9.58c56","type":"api-call-service","z":"28a6a8fa.f7d4c","name":"turn on","server":"e18da729.eb53c8","service_domain":"climate","service":"turn_on","data":"{\"entity_id\":\"climate.hall_stat\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1100,"wires":[["bcb95ea7.e029"]]},{"id":"6f4f4f82.fe32f","type":"debug","z":"28a6a8fa.f7d4c","name":"p-v: off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":1020,"wires":[]},{"id":"bcb95ea7.e029","type":"debug","z":"28a6a8fa.f7d4c","name":"p-v: on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":1100,"wires":[]},{"id":"19498730.5f1799","type":"debug","z":"28a6a8fa.f7d4c","name":"real stat output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":980,"wires":[]},{"id":"2747d305.4d75ac","type":"debug","z":"28a6a8fa.f7d4c","name":"virtual stat output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":740,"wires":[]},{"id":"9ff0ccc6.ddcef8","type":"server-state-changed","z":"9780cfe4.90645","name":"switch 3","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.main_lights_lr_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":140,"wires":[["25704555.3fb3d2","416c4a7b.d57cd4"]]},{"id":"25704555.3fb3d2","type":"switch","z":"9780cfe4.90645","name":"on or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":140,"wires":[["38760d30.7a7cca"],["bb1a1ad3.115d88"]]},{"id":"38760d30.7a7cca","type":"api-call-service","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"service_domain":"scene","service":"turn_on","entityId":"scene.downstairs_lights_warm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":100,"wires":[["81a70dc0.489db"]]},{"id":"bb1a1ad3.115d88","type":"api-call-service","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.main_downstairs_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":180,"wires":[["651f33dc.ee05cc"]]},{"id":"81a70dc0.489db","type":"debug","z":"9780cfe4.90645","name":"on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":100,"wires":[]},{"id":"651f33dc.ee05cc","type":"debug","z":"9780cfe4.90645","name":"off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":180,"wires":[]},{"id":"f111b308.8a871","type":"server-state-changed","z":"9381589f.b1e528","name":"Front Door","server":"e18da729.eb53c8","version":1,"entityidfilter":"binary_sensor.front_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":180,"wires":[["776a68cf.3323b8","af7c2d4e.49be6"]]},{"id":"5def743.3b2268c","type":"switch","z":"9381589f.b1e528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":260,"wires":[["99012db9.9e4c08"],[]]},{"id":"2e7b1ee2.cdddaa","type":"switch","z":"9381589f.b1e528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":140,"wires":[["cdae5b15.5977d8"],[]]},{"id":"ea661d71.ce3f9","type":"api-current-state","z":"9381589f.b1e528","name":"Patio Door","server":"e18da729.eb53c8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.patio_door_contact","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":140,"wires":[["2e7b1ee2.cdddaa","d0fb106d.3b0eb8"]]},{"id":"cdae5b15.5977d8","type":"time-range-switch","z":"9381589f.b1e528","name":"7am til 8pm","lat":"55.88596","lon":"-3.63986","startTime":"07:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":750,"y":120,"wires":[["f2e08d66.cd798","a5bb7c0e.005bd8"],["96c606cb.ca7b4","a5bb7c0e.005bd8"]]},{"id":"776a68cf.3323b8","type":"debug","z":"9381589f.b1e528","name":"front state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":250,"y":320,"wires":[]},{"id":"d0fb106d.3b0eb8","type":"debug","z":"9381589f.b1e528","name":"patio state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":200,"wires":[]},{"id":"a9a777a4.cde63","type":"debug","z":"9381589f.b1e528","name":"patio state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":605,"y":202,"wires":[]},{"id":"f2e08d66.cd798","type":"debug","z":"9381589f.b1e528","name":"time top","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1260,"y":40,"wires":[]},{"id":"96c606cb.ca7b4","type":"debug","z":"9381589f.b1e528","name":"time bottom","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":220,"wires":[]},{"id":"99012db9.9e4c08","type":"stoptimer","z":"9381589f.b1e528","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":300,"wires":[["676219d5.3f8a78"],[]]},{"id":"d065215c.dde01","type":"api-call-service","z":"9381589f.b1e528","name":"","server":"e18da729.eb53c8","version":1,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.downstairs_speakers","data":"{\"message\":\"The front door has been left open, It was most likely Emma, ha ha ha.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":380,"wires":[["99012db9.9e4c08"]]},{"id":"a5bb7c0e.005bd8","type":"api-call-service","z":"9381589f.b1e528","name":"","server":"e18da729.eb53c8","version":1,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.downstairs_speakers","data":"{\"message\":\"QUICK! Shut the door before they all bang!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":100,"wires":[[]]},{"id":"676219d5.3f8a78","type":"api-current-state","z":"9381589f.b1e528","name":"is it still open?","server":"e18da729.eb53c8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.front_door_contact","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":760,"y":300,"wires":[["25b1a774.1da6e"]]},{"id":"25b1a774.1da6e","type":"switch","z":"9381589f.b1e528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":300,"wires":[["d065215c.dde01","9f4d4024.f6bdf"],[]]},{"id":"541418bc.28071","type":"server-state-changed","z":"9381589f.b1e528","name":"Front Door","server":"e18da729.eb53c8","version":1,"entityidfilter":"binary_sensor.front_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":580,"wires":[["19b855c6.943aca"]]},{"id":"19b855c6.943aca","type":"switch","z":"9381589f.b1e528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":580,"wires":[["a21c2291.1b0428"],["fac600cf.36b96"]]},{"id":"a79bfd3b.8f293","type":"api-call-service","z":"9381589f.b1e528","name":"turn on hall light","server":"e18da729.eb53c8","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hall_front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":580,"wires":[["79ad151c.5f9dd4"]]},{"id":"79ad151c.5f9dd4","type":"delay","z":"9381589f.b1e528","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1139,"y":580,"wires":[["3b8fd3b3.1638cc"]]},{"id":"98988fb5.7d2a08","type":"api-call-service","z":"9381589f.b1e528","name":"turn off hall light","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hall_front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1510,"y":580,"wires":[["f1ccbf7c.155d08"]]},{"id":"f1ccbf7c.155d08","type":"debug","z":"9381589f.b1e528","name":"door open light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1690,"y":580,"wires":[]},{"id":"b2d02bd.f325b58","type":"api-current-state","z":"9381589f.b1e528","name":"getting dark","server":"e18da729.eb53c8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.getting_dark","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":660,"y":560,"wires":[["2a5e6247.c55496"]]},{"id":"2a5e6247.c55496","type":"switch","z":"9381589f.b1e528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":580,"wires":[["a79bfd3b.8f293","d9cc0b46.e3ba7"],["c9a4e1de.3b76f"]]},{"id":"c9a4e1de.3b76f","type":"debug","z":"9381589f.b1e528","name":"not dark enough","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1701,"y":660,"wires":[]},{"id":"416c4a7b.d57cd4","type":"debug","z":"9780cfe4.90645","name":"switch 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":243,"y":67,"wires":[]},{"id":"caac55ed.34448","type":"api-current-state","z":"9780cfe4.90645","name":"state recorder","server":"e18da729.eb53c8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.main_lights_lr_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":80,"y":260,"wires":[["5e239f36.8fd608"]]},{"id":"5e239f36.8fd608","type":"debug","z":"9780cfe4.90645","name":"switch 3 state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":260,"wires":[]},{"id":"9f345f88.bd04e8","type":"server-state-changed","z":"f83b6212.788a88","name":"","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.getting_dark","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":100,"wires":[["4288af1e.a6579","79227d88.70d1b4"],[]]},{"id":"55f0e358.37b3bc","type":"mqtt in","z":"9780cfe4.90645","name":"HOLD 3 - Hall Lights","topic":"loungehold/cmnd/POWER3","qos":"2","datatype":"utf8","broker":"30f4371.cb05548","x":110,"y":680,"wires":[["c424d3d1.79384"]]},{"id":"81eeee3a.d9a7f","type":"debug","z":"9780cfe4.90645","name":"Loung Switch 3 - Hold","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1500,"y":680,"wires":[]},{"id":"12d9f153.ef35af","type":"api-call-service","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hall_back, light.hall_front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":700,"wires":[["81eeee3a.d9a7f"]]},{"id":"c424d3d1.79384","type":"api-current-state","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.hall_front","state_type":"str","state_location":"data","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":680,"wires":[["578575c3.aaf4b4"],["4d826c49.8ed55c"]]},{"id":"6592b6fd.3822e","type":"api-call-service","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.hall_back, light.hall_front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":660,"wires":[["81eeee3a.d9a7f"]]},{"id":"578575c3.aaf4b4","type":"api-current-state","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.hall_back","state_type":"str","state_location":"data","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":660,"wires":[["6592b6fd.3822e"],["12d9f153.ef35af"]]},{"id":"4d826c49.8ed55c","type":"api-current-state","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.hall_back","state_type":"str","state_location":"data","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":700,"wires":[["12d9f153.ef35af"],["12d9f153.ef35af"]]},{"id":"bef87aa7.7aa688","type":"mqtt in","z":"9780cfe4.90645","name":"HOLD 1 - Front Hall Lights","topic":"loungehold/cmnd/POWER1","qos":"2","datatype":"utf8","broker":"30f4371.cb05548","x":110,"y":380,"wires":[["41010f5f.27c8f"]]},{"id":"eafe17e2.5a4118","type":"debug","z":"9780cfe4.90645","name":"Loung Switch 1 - Hold","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":380,"wires":[]},{"id":"4cb0aa2.95d0a54","type":"api-call-service","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hall_front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":400,"wires":[["eafe17e2.5a4118"]]},{"id":"41010f5f.27c8f","type":"api-current-state","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.hall_front","state_type":"str","state_location":"data","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":380,"wires":[["cebec93.36ab438"],["4cb0aa2.95d0a54"]]},{"id":"cebec93.36ab438","type":"api-call-service","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.hall_front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":360,"wires":[["eafe17e2.5a4118"]]},{"id":"ab0015a4.adfeb8","type":"mqtt in","z":"9780cfe4.90645","name":"HOLD 2 - Back Hall Light","topic":"loungehold/cmnd/POWER2","qos":"2","datatype":"utf8","broker":"30f4371.cb05548","x":110,"y":520,"wires":[["c5dd370b.1d9f68"]]},{"id":"b9ca30e6.84d3a","type":"debug","z":"9780cfe4.90645","name":"Loung Switch 2 - Hold","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":520,"wires":[]},{"id":"f96699d7.600518","type":"api-call-service","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"service_domain":"light","service":"turn_on","entityId":"light.hall_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":540,"wires":[["b9ca30e6.84d3a"]]},{"id":"c5dd370b.1d9f68","type":"api-current-state","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.hall_back","state_type":"str","state_location":"data","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":520,"wires":[["f0de7198.daa3e"],["f96699d7.600518"]]},{"id":"f0de7198.daa3e","type":"api-call-service","z":"9780cfe4.90645","name":"","server":"e18da729.eb53c8","version":1,"service_domain":"light","service":"turn_off","entityId":"light.hall_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":500,"wires":[["b9ca30e6.84d3a"]]},{"id":"d52cd889.599778","type":"server-state-changed","z":"9381589f.b1e528","name":"Shoe Cupboard Door","server":"e18da729.eb53c8","version":1,"entityidfilter":"binary_sensor.shoe_cupboard_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":1100,"wires":[["79a7d8ba.714ca"]]},{"id":"79a7d8ba.714ca","type":"switch","z":"9381589f.b1e528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1100,"wires":[["a611d3fa.1424a"],["6f6ed86d.118878"]]},{"id":"a611d3fa.1424a","type":"api-call-service","z":"9381589f.b1e528","name":"turn on hall light","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hall_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":1060,"wires":[["50e229b8.d5d66"]]},{"id":"50e229b8.d5d66","type":"delay","z":"9381589f.b1e528","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":1060,"wires":[["6f6ed86d.118878"]]},{"id":"85554f88.87588","type":"api-call-service","z":"9381589f.b1e528","name":"turn off hall light","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hall_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1280,"y":1100,"wires":[["8e74d25d.86e338"]]},{"id":"8e74d25d.86e338","type":"debug","z":"9381589f.b1e528","name":"door open light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1479,"y":1100,"wires":[]},{"id":"189db63a.f767ca","type":"comment","z":"9381589f.b1e528","name":"Shoe Cupboard","info":"","x":100,"y":1040,"wires":[]},{"id":"9dd0b72c.c1028","type":"comment","z":"f3d50137.e5cf2","name":"LANDING","info":"","x":120,"y":80,"wires":[]},{"id":"31dca03c.83b97","type":"server-state-changed","z":"f3d50137.e5cf2","name":"DS Landing Switch","server":"e18da729.eb53c8","version":1,"entityidfilter":"switch.landing_light_switch_bottom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":240,"wires":[["cdb3b5e.1c924c8","75145d13.247134"]]},{"id":"cdb3b5e.1c924c8","type":"switch","z":"f3d50137.e5cf2","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":240,"wires":[["cef3c32c.9d3e"],["b3b4fe21.b28a2"]]},{"id":"b3b4fe21.b28a2","type":"api-current-state","z":"f3d50137.e5cf2","name":"Is U/S switch ON?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.landing_light_switch_top","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":260,"wires":[["e84b3c28.7ca4b"],[]]},{"id":"e84b3c28.7ca4b","type":"api-call-service","z":"f3d50137.e5cf2","name":"Turn U/S off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.landing_light_switch_top","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":260,"wires":[["290fea15.2cb726"]]},{"id":"290fea15.2cb726","type":"debug","z":"f3d50137.e5cf2","name":"LANDING: DS>US","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":240,"wires":[]},{"id":"cef3c32c.9d3e","type":"api-current-state","z":"f3d50137.e5cf2","name":"Is U/S switch ON?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.landing_light_switch_top","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":200,"wires":[[],["28996d1d.4f30fa"]]},{"id":"28996d1d.4f30fa","type":"api-call-service","z":"f3d50137.e5cf2","name":"Turn U/S On","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.landing_light_switch_top","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":200,"wires":[["290fea15.2cb726"]]},{"id":"381ca603.6f3a6a","type":"server-state-changed","z":"f3d50137.e5cf2","name":"US Landing Switch","server":"e18da729.eb53c8","version":1,"entityidfilter":"switch.landing_light_switch_top","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":360,"wires":[["b90b58ba.28873","835c15b8.94042"]]},{"id":"b90b58ba.28873","type":"switch","z":"f3d50137.e5cf2","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":360,"wires":[["ea34e3ad.f9dc08"],["6f62196e.76a198"]]},{"id":"6f62196e.76a198","type":"api-current-state","z":"f3d50137.e5cf2","name":"Is D/S switch ON?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.landing_light_switch_bottom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":380,"wires":[["dbe3ca1d.483ca8"],[]]},{"id":"dbe3ca1d.483ca8","type":"api-call-service","z":"f3d50137.e5cf2","name":"Turn D/S off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.landing_light_switch_bottom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":380,"wires":[["ed9ebd26.d61478"]]},{"id":"ed9ebd26.d61478","type":"debug","z":"f3d50137.e5cf2","name":"LANDING: US>DS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":360,"wires":[]},{"id":"ea34e3ad.f9dc08","type":"api-current-state","z":"f3d50137.e5cf2","name":"Is D/S switch ON?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.landing_light_switch_bottom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":320,"wires":[[],["2a05d14e.379cee"]]},{"id":"2a05d14e.379cee","type":"api-call-service","z":"f3d50137.e5cf2","name":"Turn D/S on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.landing_light_switch_bottom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":320,"wires":[["ed9ebd26.d61478"]]},{"id":"f8c26004.26b178","type":"comment","z":"f3d50137.e5cf2","name":"HALL","info":"","x":110,"y":600,"wires":[]},{"id":"4b091cbe.8fccf4","type":"server-state-changed","z":"f3d50137.e5cf2","name":"Hall Switch Front","server":"e18da729.eb53c8","version":1,"entityidfilter":"switch.hall_light_switch_front","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":720,"wires":[["a249a875.29cc3"]]},{"id":"a249a875.29cc3","type":"switch","z":"f3d50137.e5cf2","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":720,"wires":[["6a9e0546.01ec2c","cbaee813.18456"],["4d4f43af.a95014","79789800.9df178"]]},{"id":"20e16545.f27602","type":"api-call-service","z":"f3d50137.e5cf2","name":"Turn off back switch","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.hall_light_switch_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":740,"wires":[["a7ac6656.9b12b8"]]},{"id":"a7ac6656.9b12b8","type":"debug","z":"f3d50137.e5cf2","name":"HALL: 1>2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1400,"y":720,"wires":[]},{"id":"5a845add.157724","type":"api-call-service","z":"f3d50137.e5cf2","name":"Turn on back switch","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.hall_light_switch_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":680,"wires":[["e807d75c.4e5218"]]},{"id":"c6c6d652.d571d8","type":"server-state-changed","z":"f3d50137.e5cf2","name":"Hall Switch Back","server":"e18da729.eb53c8","version":1,"entityidfilter":"switch.hall_light_switch_back","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":840,"wires":[["c09b7a92.0fb878"]]},{"id":"c09b7a92.0fb878","type":"switch","z":"f3d50137.e5cf2","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":840,"wires":[["6a9e0546.01ec2c","5f4cd5dd.da324c"],["4d4f43af.a95014","a56282ea.531708"]]},{"id":"2defd9f1.f1615e","type":"api-call-service","z":"f3d50137.e5cf2","name":"Turn off front switch","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.hall_light_switch_front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":860,"wires":[["f3121866.c82188"]]},{"id":"f3121866.c82188","type":"debug","z":"f3d50137.e5cf2","name":"HALL: 2>1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1400,"y":820,"wires":[]},{"id":"11af0ed7.366e99","type":"api-call-service","z":"f3d50137.e5cf2","name":"Turn on front switch","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.hall_light_switch_front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":800,"wires":[["dbef6a26.69ee88"]]},{"id":"4d4f43af.a95014","type":"api-call-service","z":"f3d50137.e5cf2","name":"Turn off hall lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.hall_front, light.hall_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":920,"wires":[["d311e0ad.8f515"]]},{"id":"6a9e0546.01ec2c","type":"api-call-service","z":"f3d50137.e5cf2","name":"Turn on hall lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hall_front, light.hall_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":980,"wires":[["d311e0ad.8f515"]]},{"id":"79789800.9df178","type":"api-current-state","z":"f3d50137.e5cf2","name":"Is back switch ON?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.hall_light_switch_back","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":740,"wires":[["20e16545.f27602"],[]]},{"id":"cbaee813.18456","type":"api-current-state","z":"f3d50137.e5cf2","name":"Is back switch ON?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.hall_light_switch_back","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":680,"wires":[[],["5a845add.157724"]]},{"id":"a56282ea.531708","type":"api-current-state","z":"f3d50137.e5cf2","name":"Is front switch ON?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.hall_light_switch_front","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":860,"wires":[["2defd9f1.f1615e"],[]]},{"id":"5f4cd5dd.da324c","type":"api-current-state","z":"f3d50137.e5cf2","name":"Is front switch ON?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.hall_light_switch_front","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":800,"wires":[[],["11af0ed7.366e99"]]},{"id":"75145d13.247134","type":"debug","z":"f3d50137.e5cf2","name":"LANDING: Downstairs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":140,"wires":[]},{"id":"835c15b8.94042","type":"debug","z":"f3d50137.e5cf2","name":"LANDING: Upstairs","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":460,"wires":[]},{"id":"d9cc0b46.e3ba7","type":"api-current-state","z":"9381589f.b1e528","name":"Sun< 2%","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"2","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.sunlight_pct","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":950,"y":520,"wires":[["92bc81f0.554418"],[]]},{"id":"92bc81f0.554418","type":"api-call-service","z":"9381589f.b1e528","name":"Turn on Front OSL","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.front_outside_light_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":520,"wires":[[]]},{"id":"5704abcc.425124","type":"api-call-service","z":"9381589f.b1e528","name":"Turn off Front OSL","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.front_outside_light_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":720,"wires":[[]]},{"id":"816b834.7fee9","type":"server-events","z":"feaae9ba.ae88a","name":"st_button","server":"e18da729.eb53c8","event_type":"smartthings.button","x":60,"y":120,"wires":[["30e79a3c.b7555e","519a3116.5576c","539d1213.4b672c"]]},{"id":"30e79a3c.b7555e","type":"debug","z":"feaae9ba.ae88a","name":"obj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":80,"wires":[]},{"id":"519a3116.5576c","type":"debug","z":"feaae9ba.ae88a","name":"msg","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":140,"wires":[]},{"id":"539d1213.4b672c","type":"switch","z":"feaae9ba.ae88a","name":"Check Button","property":"payload.event.component_id","propertyType":"msg","rules":[{"t":"eq","v":"button1","vt":"str"},{"t":"eq","v":"button2","vt":"str"},{"t":"eq","v":"button3","vt":"str"},{"t":"eq","v":"button4","vt":"str"},{"t":"eq","v":"button5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":140,"y":280,"wires":[["fa66a537.6ded58"],["b23b0280.046de"],["82feca17.db1dd"],["848e7a40.b945d"],["916ba0b1.afa44"]]},{"id":"db0854a2.0dd728","type":"switch","z":"feaae9ba.ae88a","name":"press type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pushed","vt":"str"},{"t":"eq","v":"held","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":280,"wires":[["676c7dce.ea9a94"],["859cbe96.cf958"]]},{"id":"d6e71127.365618","type":"switch","z":"feaae9ba.ae88a","name":"press type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pushed","vt":"str"},{"t":"eq","v":"held","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":200,"wires":[["c752f12.ec9891"],["bb67913c.a4253"]]},{"id":"c752f12.ec9891","type":"mqtt out","z":"feaae9ba.ae88a","name":"top - pushed","topic":"tradfri/remote/top_pushed","qos":"","retain":"false","broker":"30f4371.cb05548","x":1090,"y":180,"wires":[]},{"id":"bb67913c.a4253","type":"mqtt out","z":"feaae9ba.ae88a","name":"top - held","topic":"tradfri/remote/top_held","qos":"","retain":"false","broker":"30f4371.cb05548","x":1080,"y":220,"wires":[]},{"id":"a4136a2d.97a1c8","type":"mqtt out","z":"feaae9ba.ae88a","name":"right - pushed","topic":"tradfri/remote/right","qos":"","retain":"false","broker":"30f4371.cb05548","x":1100,"y":260,"wires":[]},{"id":"cb6fc03f.59412","type":"mqtt out","z":"feaae9ba.ae88a","name":"middle - pushed","topic":"tradfri/remote/middle","qos":"","retain":"false","broker":"30f4371.cb05548","x":1100,"y":420,"wires":[]},{"id":"5d980d6.44610f4","type":"mqtt out","z":"feaae9ba.ae88a","name":"left - pushed","topic":"tradfri/remote/left","qos":"","retain":"false","broker":"30f4371.cb05548","x":1090,"y":380,"wires":[]},{"id":"859cbe96.cf958","type":"mqtt out","z":"feaae9ba.ae88a","name":"bottom - held","topic":"tradfri/remote/bottom_held","qos":"","retain":"false","broker":"30f4371.cb05548","x":1100,"y":340,"wires":[]},{"id":"676c7dce.ea9a94","type":"mqtt out","z":"feaae9ba.ae88a","name":"bottom - pushed","topic":"tradfri/remote/bottom_pushed","qos":"","retain":"false","broker":"30f4371.cb05548","x":1110,"y":300,"wires":[]},{"id":"6f6ed86d.118878","type":"api-current-state","z":"9381589f.b1e528","name":"check hall switch","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.hall_light_switch_back","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":1100,"wires":[["85554f88.87588"],[]]},{"id":"fa66a537.6ded58","type":"change","z":"feaae9ba.ae88a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["d6e71127.365618"]]},{"id":"82feca17.db1dd","type":"change","z":"feaae9ba.ae88a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":280,"wires":[["db0854a2.0dd728"]]},{"id":"b23b0280.046de","type":"change","z":"feaae9ba.ae88a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["a4136a2d.97a1c8"]]},{"id":"848e7a40.b945d","type":"change","z":"feaae9ba.ae88a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["5d980d6.44610f4"]]},{"id":"916ba0b1.afa44","type":"change","z":"feaae9ba.ae88a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":360,"wires":[["cb6fc03f.59412"]]},{"id":"648b40a2.b9ece8","type":"mqtt in","z":"feaae9ba.ae88a","name":"","topic":"tradfri/remote/top_held","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":160,"y":620,"wires":[["7a921ff0.22fcd"]]},{"id":"88cc6f42.7dd4","type":"comment","z":"feaae9ba.ae88a","name":"Recliner: Held","info":"","x":110,"y":560,"wires":[]},{"id":"3b8fd3b3.1638cc","type":"api-current-state","z":"9381589f.b1e528","name":"hall switch on?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.hall_light_switch_front","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1310,"y":580,"wires":[[],["98988fb5.7d2a08"]]},{"id":"58104794.e8068","type":"api-call-service","z":"fea072e.26e229","name":"Turn On switch 3","server":"e18da729.eb53c8","version":1,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.main_lights_lr_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":140,"wires":[["932b7f72.3c8de8"]]},{"id":"a21c2291.1b0428","type":"api-current-state","z":"9381589f.b1e528","name":"auto switch on?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.front_door_lights_auto","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":560,"wires":[["b2d02bd.f325b58"],[]]},{"id":"d41b1de6.e222c8","type":"comment","z":"8b4f69f4.4c17a8","name":"Button A","info":"","x":100,"y":60,"wires":[]},{"id":"ef74f4f5.9efda8","type":"mqtt in","z":"8b4f69f4.4c17a8","name":"A: Lamp 100","topic":"RFBridge/OliviaRemoteA","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":120,"y":120,"wires":[["6afaa9ff.44159","46364ff7.d3b99"]]},{"id":"1239431.9f247bd","type":"api-call-service","z":"8b4f69f4.4c17a8","name":"turn on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.olivias_lamp","data":"{\"brightness_pct\": 100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":140,"wires":[["46364ff7.d3b99"]]},{"id":"9792c342.bbed48","type":"api-call-service","z":"8b4f69f4.4c17a8","name":"turn off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"light.olivias_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":100,"wires":[["46364ff7.d3b99"]]},{"id":"905e18da.a06c6","type":"comment","z":"8b4f69f4.4c17a8","name":"Button B","info":"","x":100,"y":200,"wires":[]},{"id":"5c7c2a4e.6acda4","type":"mqtt in","z":"8b4f69f4.4c17a8","name":"B: Night Bed","topic":"RFBridge/OliviaRemoteB","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":120,"y":260,"wires":[["75c2f770.cc5538"]]},{"id":"e0e68476.1e85d","type":"comment","z":"8b4f69f4.4c17a8","name":"Button C","info":"","x":100,"y":340,"wires":[]},{"id":"cbe9cb6f.4e8b88","type":"mqtt in","z":"8b4f69f4.4c17a8","name":"C: Bright Bed","topic":"RFBridge/OliviaRemoteC","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":120,"y":400,"wires":[["8562934.fb9597"]]},{"id":"707893b5.ba8e54","type":"comment","z":"3b484f76.268148","name":"Button A","info":"","x":100,"y":60,"wires":[]},{"id":"ad7b789e.1da358","type":"mqtt in","z":"3b484f76.268148","name":"A: Lit Couch","topic":"RFBridge/PlayroomRemoteA","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":120,"y":120,"wires":[["6e2bb381.22758c"]]},{"id":"a57210b7.b2cd3","type":"comment","z":"3b484f76.268148","name":"Button B","info":"","x":100,"y":200,"wires":[]},{"id":"43e56961.2e8a","type":"mqtt in","z":"3b484f76.268148","name":"B:Tri-Colour","topic":"RFBridge/PlayroomRemoteB","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":120,"y":260,"wires":[["88ad7a45.d2c448"]]},{"id":"647e9a35.a553c4","type":"comment","z":"3b484f76.268148","name":"Button C","info":"","x":100,"y":340,"wires":[]},{"id":"277ce827.1e5cc8","type":"mqtt in","z":"3b484f76.268148","name":"C: TV Disco","topic":"RFBridge/PlayroomRemoteC","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":120,"y":400,"wires":[["e3d88835.6dc328"]]},{"id":"b95afbf2.cd4668","type":"comment","z":"3b484f76.268148","name":"Button D","info":"","x":100,"y":460,"wires":[]},{"id":"ab0af2d9.ef76f","type":"mqtt in","z":"3b484f76.268148","name":"D: Disco","topic":"RFBridge/PlayroomRemoteD","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":110,"y":520,"wires":[["d1b389fc.96c268"]]},{"id":"6e2bb381.22758c","type":"api-call-service","z":"3b484f76.268148","name":"","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.lit_couch_playroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":120,"wires":[[]]},{"id":"88ad7a45.d2c448","type":"api-call-service","z":"3b484f76.268148","name":"","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.celtic_playroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":260,"wires":[[]]},{"id":"e3d88835.6dc328","type":"api-call-service","z":"3b484f76.268148","name":"","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.tv_disco_playroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":400,"wires":[[]]},{"id":"d1b389fc.96c268","type":"api-call-service","z":"3b484f76.268148","name":"","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.playroom_disco","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":520,"wires":[[]]},{"id":"6d2b45d4.6c46b4","type":"comment","z":"8b4f69f4.4c17a8","name":"Button D","info":"","x":100,"y":480,"wires":[]},{"id":"ec300e40.b42478","type":"mqtt in","z":"8b4f69f4.4c17a8","name":"D: Landing Bog","topic":"RFBridge/OliviaRemoteD","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":130,"y":540,"wires":[["f3c8633.6fb86a"]]},{"id":"d391f17f.f923d","type":"server-state-changed","z":"fea072e.26e229","name":"","server":"e18da729.eb53c8","version":1,"entityidfilter":"person.john","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":320,"wires":[["f9c9f35c.b1293"],[]]},{"id":"62c40526.94d0ac","type":"server-state-changed","z":"fea072e.26e229","name":"","server":"e18da729.eb53c8","version":1,"entityidfilter":"person.emma","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":360,"wires":[["f9c9f35c.b1293"],[]]},{"id":"f9c9f35c.b1293","type":"api-current-state","z":"fea072e.26e229","name":"getting dark?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.getting_dark","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":340,"wires":[["16b240e4.e0746f"],[]]},{"id":"16b240e4.e0746f","type":"api-call-service","z":"fea072e.26e229","name":"Turn on Front OSL","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.front_outside_light_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":340,"wires":[["28914c45.a8975c"]]},{"id":"645be716.dbea38","type":"debug","z":"fea072e.26e229","name":"Welcome Light","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1140,"y":340,"wires":[]},{"id":"4e1a8c9a.05a2a4","type":"comment","z":"fea072e.26e229","name":"Welcome Light","info":"","x":80,"y":280,"wires":[]},{"id":"28914c45.a8975c","type":"delay","z":"fea072e.26e229","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":340,"wires":[["6eb64c50.91844c"]]},{"id":"6eb64c50.91844c","type":"api-call-service","z":"fea072e.26e229","name":"Turn off Front OSL","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.front_outside_light_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":340,"wires":[["645be716.dbea38"]]},{"id":"cde7e193.3b4448","type":"comment","z":"9381589f.b1e528","name":"FRONT DOOR","info":"","x":120,"y":60,"wires":[]},{"id":"65d4be09.ef38","type":"server-state-changed","z":"9381589f.b1e528","name":"Patio Door","server":"e18da729.eb53c8","version":1,"entityidfilter":"binary_sensor.patio_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":1440,"wires":[["23daa543.ab4332","7815270e.2c7f58"]]},{"id":"23daa543.ab4332","type":"switch","z":"9381589f.b1e528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1440,"wires":[["a4b3700a.a0d7d","8bdd4573.3fb608","761cb33e.ea33ec"],["5d619f78.a6291","51242e07.5af0d"]]},{"id":"7815270e.2c7f58","type":"debug","z":"9381589f.b1e528","name":"patio door","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":1360,"wires":[]},{"id":"63d29e71.2bb388","type":"comment","z":"9381589f.b1e528","name":"PATIO DOOR","info":"","x":110,"y":1300,"wires":[]},{"id":"7758d093.ed8f58","type":"server-state-changed","z":"9381589f.b1e528","name":"Patio Door","server":"e18da729.eb53c8","version":1,"entityidfilter":"binary_sensor.patio_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":1640,"wires":[["920d953b.e07568"]]},{"id":"920d953b.e07568","type":"switch","z":"9381589f.b1e528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":1640,"wires":[["5b3dbc10.e23804"],["4b707a5d.477b74"],["4b707a5d.477b74"]]},{"id":"5b3dbc10.e23804","type":"api-current-state","z":"9381589f.b1e528","name":"getting dark?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.getting_dark","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":1620,"wires":[["4b810f9b.060338"],[]]},{"id":"40713c1.8633144","type":"debug","z":"9381589f.b1e528","name":"patio door","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":1660,"wires":[]},{"id":"4b707a5d.477b74","type":"api-current-state","z":"9381589f.b1e528","name":"getting dark?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.getting_dark","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":1680,"wires":[["72af745.331cb8c"],[]]},{"id":"4b810f9b.060338","type":"api-call-service","z":"9381589f.b1e528","name":"turn on back osl","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.back_outside_light_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1620,"wires":[["40713c1.8633144"]]},{"id":"72af745.331cb8c","type":"api-call-service","z":"9381589f.b1e528","name":"turn off back osl","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.back_outside_light_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1680,"wires":[["40713c1.8633144"]]},{"id":"4fc11f3.4d3696","type":"api-current-state","z":"91227214.dd127","name":"Check Guest","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":400,"wires":[["3c9189bf.ad376e"],["812526f7.44547"]]},{"id":"5b42f837.2a12a","type":"api-current-state","z":"91227214.dd127","name":"Check Emma","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.emma","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":660,"y":340,"wires":[["3c9189bf.ad376e"],["4fc11f3.4d3696"]]},{"id":"fac600cf.36b96","type":"delay","z":"9381589f.b1e528","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":720,"wires":[["5704abcc.425124"]]},{"id":"87275a10.426bb8","type":"server-state-changed","z":"4381a749.36f3d8","name":"WC Light On","server":"e18da729.eb53c8","version":1,"entityidfilter":"switch.wc_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":140,"wires":[["d194416c.6435b8"],["62dccb6d.33c11c"]]},{"id":"b36c7a33.6f26a8","type":"api-current-state","z":"4381a749.36f3d8","name":"is light still on?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.wc_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":140,"wires":[["389f531d.9b01cc"],[]]},{"id":"389f531d.9b01cc","type":"api-call-service","z":"4381a749.36f3d8","name":"Turn Off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.wc_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":140,"wires":[[]]},{"id":"61001941.e7edc8","type":"api-current-state","z":"91227214.dd127","name":"Check John","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.john","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":600,"wires":[["3c9189bf.ad376e"],["9f01ce09.07a51"]]},{"id":"fa52c9aa.84f448","type":"api-current-state","z":"91227214.dd127","name":"Check Guest","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.guest","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":540,"wires":[["3c9189bf.ad376e"],["812526f7.44547"]]},{"id":"9f01ce09.07a51","type":"api-current-state","z":"91227214.dd127","name":"Check Emma","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.emma","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":660,"y":640,"wires":[["3c9189bf.ad376e"],["812526f7.44547"]]},{"id":"ffa5b735.ed5e78","type":"api-current-state","z":"91227214.dd127","name":"Check John","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.john","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":500,"wires":[["3c9189bf.ad376e"],["fa52c9aa.84f448"]]},{"id":"dbef6a26.69ee88","type":"api-call-service","z":"f3d50137.e5cf2","name":"set lights 100%","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hall_front, light.hall_back","data":"{\"brightness\": \"255\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":800,"wires":[["f3121866.c82188"]]},{"id":"e807d75c.4e5218","type":"api-call-service","z":"f3d50137.e5cf2","name":"set lights 100%","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.hall_front, light.hall_back","data":"{\"brightness\": \"255\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1170,"y":680,"wires":[["a7ac6656.9b12b8"]]},{"id":"d194416c.6435b8","type":"stoptimer","z":"4381a749.36f3d8","duration":"20","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":520,"y":140,"wires":[["b36c7a33.6f26a8"],[]]},{"id":"62dccb6d.33c11c","type":"change","z":"4381a749.36f3d8","name":"Cancel Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":160,"wires":[["d194416c.6435b8"]]},{"id":"9f4d4024.f6bdf","type":"api-call-service","z":"9381589f.b1e528","name":"","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"notify","service":"john","entityId":"","data":"{\"title\":\"Home Assistant\", \"message\":\"The front door has been left open\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":420,"wires":[["99012db9.9e4c08"]]},{"id":"6c1125d3.da9d3c","type":"comment","z":"e937e743.6adc38","name":"Button A","info":"","x":680,"y":40,"wires":[]},{"id":"4e7abf97.6a045","type":"mqtt in","z":"e937e743.6adc38","name":"RF Recieved","topic":"RFBridge/tele/RESULT","qos":"2","datatype":"json","broker":"30f4371.cb05548","x":110,"y":220,"wires":[["45fe41f7.cd1d5","65d7df39.244d7"]]},{"id":"424aacc1.000494","type":"api-current-state","z":"e937e743.6adc38","name":"Lamps Full","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bedside_lamp_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":80,"wires":[["a5e18736.0192d8"],["b5c70f74.386d4"]]},{"id":"b5c70f74.386d4","type":"api-call-service","z":"e937e743.6adc38","name":"turn on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.bedside_lamps","data":"{\"brightness\":\"255\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":100,"wires":[[]]},{"id":"edac9234.54e84","type":"api-call-service","z":"e937e743.6adc38","name":"turn off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.bedside_lamps","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":60,"wires":[[]]},{"id":"dcbba109.c364e","type":"comment","z":"e937e743.6adc38","name":"Button B","info":"","x":680,"y":140,"wires":[]},{"id":"dc7465da.ea2848","type":"comment","z":"e937e743.6adc38","name":"Button C","info":"","x":680,"y":240,"wires":[]},{"id":"6203f6c6.366088","type":"comment","z":"e937e743.6adc38","name":"Button D","info":"","x":680,"y":340,"wires":[]},{"id":"45fe41f7.cd1d5","type":"switch","z":"e937e743.6adc38","name":"A,B,C or D","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"FE8988","vt":"str"},{"t":"eq","v":"FE8984","vt":"str"},{"t":"eq","v":"FE8982","vt":"str"},{"t":"eq","v":"FE8981","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":340,"y":220,"wires":[["424aacc1.000494"],["345aa428.19a74c"],["aa17d39.e50763"],["c323004c.e193"]]},{"id":"345aa428.19a74c","type":"api-current-state","z":"e937e743.6adc38","name":"Lamps Dim","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bedside_lamp_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":180,"wires":[["206236ce.d9b88a"],["c845c773.f9ef28"]]},{"id":"c845c773.f9ef28","type":"api-call-service","z":"e937e743.6adc38","name":"turn on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.bedside_lamps","data":"{\"brightness\":\"99\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":200,"wires":[[]]},{"id":"5e932545.b9dd2c","type":"api-call-service","z":"e937e743.6adc38","name":"turn off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.bedside_lamps","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":160,"wires":[[]]},{"id":"aa17d39.e50763","type":"api-current-state","z":"e937e743.6adc38","name":"","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.ensuite_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":280,"wires":[["b24f41df.eea53"],["573e6806.c0f658"]]},{"id":"573e6806.c0f658","type":"api-call-service","z":"e937e743.6adc38","name":"turn on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"light.ensuite_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":300,"wires":[[]]},{"id":"b24f41df.eea53","type":"api-call-service","z":"e937e743.6adc38","name":"turn off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"light.ensuite_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":260,"wires":[[]]},{"id":"c323004c.e193","type":"api-current-state","z":"e937e743.6adc38","name":"","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.night_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":380,"wires":[["e37e9ff8.3edc3"],["dc4cbd5a.653bd"]]},{"id":"dc4cbd5a.653bd","type":"api-call-service","z":"e937e743.6adc38","name":"turn on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.night_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":400,"wires":[[]]},{"id":"e37e9ff8.3edc3","type":"api-call-service","z":"e937e743.6adc38","name":"turn off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.night_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":360,"wires":[[]]},{"id":"a5e18736.0192d8","type":"switch","z":"e937e743.6adc38","name":"Brighten or Off","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"eq","v":"255","vt":"str"},{"t":"neq","v":"255","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":60,"wires":[["edac9234.54e84"],["b5c70f74.386d4"]]},{"id":"206236ce.d9b88a","type":"switch","z":"e937e743.6adc38","name":"Dim or Off","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"eq","v":"99","vt":"str"},{"t":"neq","v":"99","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":160,"wires":[["5e932545.b9dd2c"],["c845c773.f9ef28"]]},{"id":"b0a0a5d1.4ea2d8","type":"debug","z":"f0163bb3.8ccda8","name":"Auto On","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":80,"wires":[]},{"id":"5b80b699.6e45e8","type":"debug","z":"f0163bb3.8ccda8","name":"Auto Off","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":730,"y":180,"wires":[]},{"id":"a3346e87.b8bbd","type":"server-state-changed","z":"f0163bb3.8ccda8","name":"dark?","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.getting_dark","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":160,"wires":[[],["8daee220.f1a8f"]]},{"id":"3ea5698c.e4f656","type":"api-call-service","z":"f0163bb3.8ccda8","name":"Turn On outside xmas lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.outdoor_christmas_stuff","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":100,"wires":[["b0a0a5d1.4ea2d8"]]},{"id":"8daee220.f1a8f","type":"api-call-service","z":"f0163bb3.8ccda8","name":"Turn Off outdoor xmas lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.outdoor_christmas_stuff","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":260,"y":180,"wires":[["5b80b699.6e45e8"]]},{"id":"a34ef6bd.331af8","type":"debug","z":"f0163bb3.8ccda8","name":"timed off","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":490,"y":240,"wires":[]},{"id":"f5ae016b.58b6f","type":"schedex","z":"f0163bb3.8ccda8","name":"","suspended":false,"lat":"55.8938","lon":"-3.62552","ontime":"goldenHour","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"08:00","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":100,"y":280,"wires":[["8daee220.f1a8f","a34ef6bd.331af8"]]},{"id":"b2cfd7c3.db94e8","type":"api-current-state","z":"f0163bb3.8ccda8","name":"Someone Home?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.someone_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":230,"y":80,"wires":[["130db115.c2841f"],["3ea5698c.e4f656"]]},{"id":"130db115.c2841f","type":"api-call-service","z":"f0163bb3.8ccda8","name":"Turn On all xmas lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.christmas_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":60,"wires":[["b0a0a5d1.4ea2d8"]]},{"id":"4f6c3d29.c1da44","type":"schedex","z":"f0163bb3.8ccda8","name":"on at 6am","suspended":false,"lat":"55.88589","lon":"-3.64025","ontime":"06:00","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":100,"y":400,"wires":[["e2ee0797.4e7db8"]]},{"id":"e2ee0797.4e7db8","type":"debug","z":"f0163bb3.8ccda8","name":"timed off","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":290,"y":400,"wires":[]},{"id":"7ff79368.85c5dc","type":"server-state-changed","z":"f0163bb3.8ccda8","name":"no one home","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.someone_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":520,"wires":[["b1fa9d37.e04c1"],[]]},{"id":"b1fa9d37.e04c1","type":"api-call-service","z":"f0163bb3.8ccda8","name":"Turn off all xmas lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.christmas_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":520,"wires":[["5b80b699.6e45e8"]]},{"id":"2af244d.21a05bc","type":"server-state-changed","z":"f0163bb3.8ccda8","name":"Bedtime","server":"e18da729.eb53c8","version":1,"entityidfilter":"input_boolean.bedtime_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":600,"wires":[["33e950e5.150d6"],[]]},{"id":"33e950e5.150d6","type":"api-call-service","z":"f0163bb3.8ccda8","name":"Turn off tree","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.christmas_tree","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":250,"y":600,"wires":[["59a2d988.775ce8"]]},{"id":"59a2d988.775ce8","type":"stoptimer","z":"f0163bb3.8ccda8","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":460,"y":600,"wires":[["97e9a87.2b75758"],[]]},{"id":"97e9a87.2b75758","type":"api-call-service","z":"f0163bb3.8ccda8","name":"Turn off all outdoor xmas stuff","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.outdoor_christmas_stuff","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":600,"wires":[[]]},{"id":"d7be1aeb.2795a8","type":"schedex","z":"f0163bb3.8ccda8","name":"on at 4pm","suspended":false,"lat":"55.88589","lon":"-3.64025","ontime":"16:00","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":70,"y":40,"wires":[["b2cfd7c3.db94e8"]]},{"id":"9d74feed.534e7","type":"ha-wait-until","z":"fea072e.26e229","name":"door opens","server":"e18da729.eb53c8","outputs":2,"entityId":"binary_sensor.front_door_contact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"300","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":410,"y":140,"wires":[["ba4949b4.04c508"],[]]},{"id":"c1958584.3243a8","type":"time-range-switch","z":"4381a749.36f3d8","name":"8am","lat":"55.89294","lon":"-3.65241","startTime":"08:30","endTime":"10:00","startOffset":0,"endOffset":0,"x":70,"y":300,"wires":[["23ebcc2f.fa20c4","3c4b0767.22e628"],[]]},{"id":"23ebcc2f.fa20c4","type":"api-call-service","z":"4381a749.36f3d8","name":"lamp","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.olivias_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":250,"y":280,"wires":[[]]},{"id":"43a272c9.1b4fec","type":"comment","z":"4381a749.36f3d8","name":"Olivias Lights","info":"","x":90,"y":260,"wires":[]},{"id":"a24f1dd.f5798e","type":"debug","z":"e937e743.6adc38","name":"test data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":320,"wires":[]},{"id":"65d7df39.244d7","type":"change","z":"e937e743.6adc38","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.RfReceived.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":320,"wires":[["a24f1dd.f5798e"]]},{"id":"1d55237d.3ec60d","type":"server-state-changed","z":"4381a749.36f3d8","name":"lamp on?","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.olivias_lamp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":360,"wires":[["9daeac23.64d0c"],["35d9220.103fade"]]},{"id":"917af6d6.1b19c8","type":"api-current-state","z":"4381a749.36f3d8","name":"is light still on?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.olivias_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":700,"y":360,"wires":[["6fc28bce.4a5c34"],[]]},{"id":"9daeac23.64d0c","type":"stoptimer","z":"4381a749.36f3d8","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":510,"y":360,"wires":[["917af6d6.1b19c8"],[]]},{"id":"35d9220.103fade","type":"change","z":"4381a749.36f3d8","name":"Cancel Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":380,"wires":[["9daeac23.64d0c"]]},{"id":"6fc28bce.4a5c34","type":"api-call-service","z":"4381a749.36f3d8","name":"Turn Off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.olivias_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":360,"wires":[[]]},{"id":"4144349a.9f910c","type":"comment","z":"4381a749.36f3d8","name":"WC","info":"","x":70,"y":100,"wires":[]},{"id":"bc38e096.e8793","type":"mqtt in","z":"feaae9ba.ae88a","name":"","topic":"tradfri/remote/bottom_held","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":170,"y":680,"wires":[["ee3c6f88.4faad"]]},{"id":"fa3424d.b9755d8","type":"mqtt in","z":"feaae9ba.ae88a","name":"","topic":"tradfri/remote/top_pushed","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":170,"y":1000,"wires":[["7fa920.32b596e"]]},{"id":"bb840255.4e11e","type":"comment","z":"feaae9ba.ae88a","name":"Recliner: Pushed","info":"","x":120,"y":940,"wires":[]},{"id":"451a95e3.3604ec","type":"mqtt in","z":"feaae9ba.ae88a","name":"","topic":"tradfri/remote/bottom_pushed","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":180,"y":1060,"wires":[["eb3ec702.fd86e8"]]},{"id":"64da0535.2501ac","type":"api-call-service","z":"feaae9ba.ae88a","name":"up","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.recliner_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":1000,"wires":[["984f6973.878348"]]},{"id":"984f6973.878348","type":"delay","z":"feaae9ba.ae88a","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1050,"y":1000,"wires":[["5f137147.adb36"]]},{"id":"5f137147.adb36","type":"api-call-service","z":"feaae9ba.ae88a","name":"stop","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.recliner_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1188,"y":1000,"wires":[[]]},{"id":"b0d5bcef.62b9","type":"api-call-service","z":"feaae9ba.ae88a","name":"down","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.recliner_down","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":1060,"wires":[["fb127029.ae822"]]},{"id":"fb127029.ae822","type":"delay","z":"feaae9ba.ae88a","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1070,"y":1060,"wires":[["23caacd0.f6c0e4"]]},{"id":"23caacd0.f6c0e4","type":"api-call-service","z":"feaae9ba.ae88a","name":"stop","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.recliner_down","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1208,"y":1060,"wires":[[]]},{"id":"398d23b1.1c449c","type":"mqtt in","z":"feaae9ba.ae88a","name":"","topic":"tradfri/remote/left","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":140,"y":1220,"wires":[["2f0684cf.210bac"]]},{"id":"206ed9ad.a64806","type":"comment","z":"feaae9ba.ae88a","name":"Recliner: Half","info":"","x":110,"y":1160,"wires":[]},{"id":"9795271d.560ec8","type":"mqtt in","z":"feaae9ba.ae88a","name":"","topic":"tradfri/remote/right","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":140,"y":1280,"wires":[["3c0ad886.ce7b58"]]},{"id":"bfc8e540.f56518","type":"mqtt in","z":"feaae9ba.ae88a","name":"middle: lights up or down","topic":"tradfri/remote/middle","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":130,"y":500,"wires":[["88b1f28e.485ad"]]},{"id":"88b1f28e.485ad","type":"api-current-state","z":"feaae9ba.ae88a","name":"is standing lamp on?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.standing_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":500,"wires":[["15002fd4.e6dc3"],["6339d135.13d7"]]},{"id":"15002fd4.e6dc3","type":"api-call-service","z":"feaae9ba.ae88a","name":"tv time","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.tv_time","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":460,"wires":[[]]},{"id":"4ddde375.151fdc","type":"api-call-service","z":"feaae9ba.ae88a","name":"main lamps","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.downstairs_lights_warm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":500,"wires":[[]]},{"id":"6339d135.13d7","type":"api-current-state","z":"feaae9ba.ae88a","name":"is switch on?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.main_lights_lr_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":520,"wires":[["4ddde375.151fdc"],["b8f118da.01bd78"]]},{"id":"b8f118da.01bd78","type":"api-call-service","z":"feaae9ba.ae88a","name":"main switch","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.main_lights_lr_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":560,"wires":[[]]},{"id":"2e75bb03.6ef804","type":"mqtt in","z":"feaae9ba.ae88a","name":"","topic":"tradfri/remote/top_held","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":160,"y":760,"wires":[[]]},{"id":"60d91017.5b65f","type":"mqtt in","z":"feaae9ba.ae88a","name":"","topic":"tradfri/remote/bottom_held","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":170,"y":820,"wires":[[]]},{"id":"9b0211ab.c239d","type":"api-call-service","z":"feaae9ba.ae88a","name":"up","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.recliner_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":760,"wires":[["3074e198.2ec6de"]]},{"id":"3074e198.2ec6de","type":"delay","z":"feaae9ba.ae88a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":760,"wires":[["167c5b7a.ff8185"]]},{"id":"167c5b7a.ff8185","type":"api-call-service","z":"feaae9ba.ae88a","name":"stop","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.recliner_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":760,"wires":[[]]},{"id":"7f81fab3.9324b4","type":"api-call-service","z":"feaae9ba.ae88a","name":"down","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.recliner_down","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":820,"wires":[["84098ddc.64285"]]},{"id":"84098ddc.64285","type":"delay","z":"feaae9ba.ae88a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":820,"wires":[["95513e6.b0ddbc"]]},{"id":"95513e6.b0ddbc","type":"api-call-service","z":"feaae9ba.ae88a","name":"stop","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.recliner_down","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":820,"wires":[[]]},{"id":"7a921ff0.22fcd","type":"api-call-service","z":"feaae9ba.ae88a","name":"up","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.no_recline","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":620,"wires":[[]]},{"id":"ee3c6f88.4faad","type":"api-call-service","z":"feaae9ba.ae88a","name":"down","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.full_recline","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":680,"wires":[[]]},{"id":"1118381f.f2e128","type":"mqtt in","z":"feaae9ba.ae88a","name":"","topic":"tradfri/remote/left","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":140,"y":1340,"wires":[[]]},{"id":"3b7d567c.7bf22a","type":"mqtt in","z":"feaae9ba.ae88a","name":"","topic":"tradfri/remote/right","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":140,"y":1400,"wires":[[]]},{"id":"43440cd2.ffab04","type":"api-call-service","z":"feaae9ba.ae88a","name":"up","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.recliner_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":1340,"wires":[["725dce15.56f39"]]},{"id":"725dce15.56f39","type":"delay","z":"feaae9ba.ae88a","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1340,"wires":[["b8f46914.227218"]]},{"id":"b8f46914.227218","type":"api-call-service","z":"feaae9ba.ae88a","name":"stop","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.recliner_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":1340,"wires":[[]]},{"id":"268b0bd9.1f0834","type":"api-call-service","z":"feaae9ba.ae88a","name":"down","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.recliner_down","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":1400,"wires":[["1827890d.992257"]]},{"id":"1827890d.992257","type":"delay","z":"feaae9ba.ae88a","name":"","pauseType":"delay","timeout":"5.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":1400,"wires":[["500920dd.fb719"]]},{"id":"500920dd.fb719","type":"api-call-service","z":"feaae9ba.ae88a","name":"stop","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.recliner_down","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1400,"wires":[[]]},{"id":"2f0684cf.210bac","type":"api-call-service","z":"feaae9ba.ae88a","name":"up","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.no_recline","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":1220,"wires":[[]]},{"id":"3c0ad886.ce7b58","type":"api-call-service","z":"feaae9ba.ae88a","name":"Feet Up","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.half_recline","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":1280,"wires":[[]]},{"id":"41c5e41b.07eb8c","type":"mqtt in","z":"903a231e.7c3728","name":"","topic":"homeassistant/sensor/android_ariela_s8_bluetooth/attributes","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":350,"y":140,"wires":[["c197cd13.5bc25"]]},{"id":"7b49efa9.29ef1","type":"debug","z":"903a231e.7c3728","name":"mqtt obj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":120,"wires":[]},{"id":"c197cd13.5bc25","type":"debug","z":"903a231e.7c3728","name":"mqtt msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":160,"wires":[]},{"id":"cb045b47.68b548","type":"debug","z":"903a231e.7c3728","name":"sensor obj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":240,"wires":[]},{"id":"83532172.c9488","type":"debug","z":"903a231e.7c3728","name":"sensor msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":280,"wires":[]},{"id":"17996c6f.54706c","type":"poll-state","z":"903a231e.7c3728","d":true,"name":"","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"30","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.ariela_s8ariela_s8_bluetooth_sensor","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":380,"y":260,"wires":[[]]},{"id":"d311e0ad.8f515","type":"debug","z":"f3d50137.e5cf2","name":"ON/OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":960,"wires":[]},{"id":"875f56e9.925fc8","type":"api-current-state","z":"f83b6212.788a88","name":"master sensor","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.living_room_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":240,"wires":[["e8364a16.6a22e8"],[]]},{"id":"1010ecc2.5c48e3","type":"server-state-changed","z":"f28d7b09.cf0fe8","name":"Lounge PIR Override","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bypass_lounge_pir","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":100,"wires":[["be131409.670d48"],["bd9c4453.601e98"]]},{"id":"be131409.670d48","type":"api-call-service","z":"f28d7b09.cf0fe8","name":"enable 'on'","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"automation","service":"turn_on","entityId":"automation.lounge_motion_on","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":80,"wires":[["50f310a0.9bcb4"]]},{"id":"50f310a0.9bcb4","type":"api-call-service","z":"f28d7b09.cf0fe8","name":"enable 'off'","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"automation","service":"turn_on","entityId":"automation.lounge_motion_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":80,"wires":[[]]},{"id":"bd9c4453.601e98","type":"api-call-service","z":"f28d7b09.cf0fe8","name":"disable 'on'","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"automation","service":"turn_off","entityId":"automation.lounge_motion_on","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":120,"wires":[["8ad9ec2c.e638a"]]},{"id":"8ad9ec2c.e638a","type":"api-call-service","z":"f28d7b09.cf0fe8","name":"disable 'off'","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"automation","service":"turn_off","entityId":"automation.lounge_motion_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":120,"wires":[[]]},{"id":"af7c2d4e.49be6","type":"api-current-state","z":"9381589f.b1e528","name":"Override on?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.enable_front_door_open_notification","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":120,"wires":[["5def743.3b2268c"],[]]},{"id":"ba4949b4.04c508","type":"api-current-state","z":"fea072e.26e229","name":"Ignore PIR?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bypass_lounge_pir","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":140,"wires":[["58104794.e8068"],[]]},{"id":"7fa920.32b596e","type":"api-call-service","z":"feaae9ba.ae88a","name":"up","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.recliner_nudge_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":1000,"wires":[[]]},{"id":"eb3ec702.fd86e8","type":"api-call-service","z":"feaae9ba.ae88a","name":"down","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.recliner_nudge_down","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":1060,"wires":[[]]},{"id":"18412996.c43536","type":"debug","z":"c7b56b62.bc06b8","name":"real stat change","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":60,"wires":[]},{"id":"83a7851e.75cdd8","type":"api-current-state","z":"c7b56b62.bc06b8","name":"target data","server":"151a1091.4a044f","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.thermostat","state_type":"str","state_location":"data.attributes.temperature","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":120,"wires":[["18412996.c43536","5f4e294e.c883e8"]]},{"id":"d373c691.56dbc8","type":"server-state-changed","z":"c7b56b62.bc06b8","name":"","server":"151a1091.4a044f","version":1,"entityidfilter":"sensor.target_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":120,"wires":[["83a7851e.75cdd8","18412996.c43536"]]},{"id":"2b2e7af8.c8f3c6","type":"debug","z":"c7b56b62.bc06b8","name":"virtual stat set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":140,"wires":[]},{"id":"5f4e294e.c883e8","type":"api-call-service","z":"c7b56b62.bc06b8","name":"set virtual stat","server":"151a1091.4a044f","version":0,"service_domain":"climate","service":"set_temperature","data":"{\"entity_id\":\"climate.hall_stat\",\"temperature\":\"{{payload}}\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":140,"wires":[["2b2e7af8.c8f3c6"]]},{"id":"fd80f313.c3b42","type":"server-state-changed","z":"c7b56b62.bc06b8","name":"","server":"151a1091.4a044f","version":1,"entityidfilter":"climate.hall_stat","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":170,"y":300,"wires":[["854e18a6.8b9a28","9a522e6b.7edec"]]},{"id":"69ebe796.e0ed38","type":"api-call-service","z":"c7b56b62.bc06b8","name":"set real stat","server":"151a1091.4a044f","version":1,"service_domain":"climate","service":"set_temperature","entityId":"climate.thermostat","data":"{\"temperature\":\"{{data.attributes.temperature}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":260,"wires":[["fcd6fed1.7e69f"]]},{"id":"fcd6fed1.7e69f","type":"debug","z":"c7b56b62.bc06b8","name":"real stat set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":260,"wires":[]},{"id":"2a90f980.30c436","type":"debug","z":"c7b56b62.bc06b8","name":"obj - virtual stat change","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":380,"wires":[]},{"id":"854e18a6.8b9a28","type":"debug","z":"c7b56b62.bc06b8","name":"virtual stat change - pre target","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":440,"wires":[]},{"id":"9a522e6b.7edec","type":"api-current-state","z":"c7b56b62.bc06b8","name":"","server":"151a1091.4a044f","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.hall_stat","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":300,"wires":[["69ebe796.e0ed38","2a90f980.30c436"]]},{"id":"d5ad0995.8cb4d8","type":"server-state-changed","z":"c7b56b62.bc06b8","name":"Home or Away","server":"151a1091.4a044f","version":1,"entityidfilter":"input_boolean.someone_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":620,"wires":[["18bcc4af.6ecc6b"],["4697492c.4904d8"]]},{"id":"18bcc4af.6ecc6b","type":"api-call-service","z":"c7b56b62.bc06b8","name":"Home Temp","server":"151a1091.4a044f","service_domain":"climate","service":"set_temperature","data":"{\"entity_id\":\"climate.thermostat\",\"temperature\":\"20\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":600,"wires":[["cbec2a0e.2f1748"]]},{"id":"cbec2a0e.2f1748","type":"debug","z":"c7b56b62.bc06b8","name":"set temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":620,"wires":[]},{"id":"4697492c.4904d8","type":"api-call-service","z":"c7b56b62.bc06b8","name":"Away Temp","server":"151a1091.4a044f","service_domain":"climate","service":"set_temperature","data":"{\"entity_id\":\"climate.thermostat\",\"temperature\":\"15\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":640,"wires":[["cbec2a0e.2f1748"]]},{"id":"47c4e196.37c35","type":"server-state-changed","z":"c7b56b62.bc06b8","name":"","server":"151a1091.4a044f","version":1,"entityidfilter":"climate.hall_stat","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":820,"wires":[["7e31477c.6819d8","c770ff8c.7f3e1"]]},{"id":"c770ff8c.7f3e1","type":"switch","z":"c7b56b62.bc06b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"heat","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":420,"y":820,"wires":[["d286cea4.929ad"],["cb810e9b.6aa38"],["51981c89.8ab6b4"]]},{"id":"d286cea4.929ad","type":"api-call-service","z":"c7b56b62.bc06b8","name":"turn off","server":"151a1091.4a044f","service_domain":"climate","service":"turn_off","data":"{\"entity_id\":\"climate.thermostat\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":780,"wires":[["be780a7b.0ebb88"]]},{"id":"51981c89.8ab6b4","type":"api-call-service","z":"c7b56b62.bc06b8","name":"turn on","server":"151a1091.4a044f","service_domain":"climate","service":"turn_on","data":"{\"entity_id\":\"climate.thermostat\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":860,"wires":[["386255af.cc06aa"]]},{"id":"be780a7b.0ebb88","type":"debug","z":"c7b56b62.bc06b8","name":"v-p: off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":780,"wires":[]},{"id":"386255af.cc06aa","type":"debug","z":"c7b56b62.bc06b8","name":"v-p: on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":860,"wires":[]},{"id":"cb810e9b.6aa38","type":"debug","z":"c7b56b62.bc06b8","name":"v-p: idle","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":820,"wires":[]},{"id":"ee36583b.bcbf38","type":"server-state-changed","z":"c7b56b62.bc06b8","name":"","server":"151a1091.4a044f","version":1,"entityidfilter":"climate.thermostat","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":200,"y":1060,"wires":[["1586225a.a22afe","d0b8b7ea.4f2e98"]]},{"id":"d0b8b7ea.4f2e98","type":"switch","z":"c7b56b62.bc06b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"unknown","vt":"str"},{"t":"eq","v":"heat","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":440,"y":1060,"wires":[["fe11c781.405c78"],[],[],["90c65b7d.4db298"]]},{"id":"fe11c781.405c78","type":"api-call-service","z":"c7b56b62.bc06b8","name":"turn off","server":"151a1091.4a044f","version":0,"service_domain":"climate","service":"turn_off","data":"{\"entity_id\":\"climate.hall_stat\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1020,"wires":[["ef19c703.adbf98"]]},{"id":"90c65b7d.4db298","type":"api-call-service","z":"c7b56b62.bc06b8","name":"turn on","server":"151a1091.4a044f","version":0,"service_domain":"climate","service":"turn_on","data":"{\"entity_id\":\"climate.hall_stat\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":1100,"wires":[["d6442153.60c1d"]]},{"id":"ef19c703.adbf98","type":"debug","z":"c7b56b62.bc06b8","name":"p-v: off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":1020,"wires":[]},{"id":"d6442153.60c1d","type":"debug","z":"c7b56b62.bc06b8","name":"p-v: on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":1100,"wires":[]},{"id":"1586225a.a22afe","type":"debug","z":"c7b56b62.bc06b8","name":"real stat output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":440,"y":980,"wires":[]},{"id":"7e31477c.6819d8","type":"debug","z":"c7b56b62.bc06b8","name":"virtual stat output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":740,"wires":[]},{"id":"1df8c142.b115cf","type":"api-call-service","z":"ba7ee3a7.d1849","name":"Home Temp","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.virtual_stat","data":"{\"temperature\":\"20\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":180,"wires":[["82a95243.45051"]]},{"id":"82a95243.45051","type":"debug","z":"ba7ee3a7.d1849","name":"set temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":200,"wires":[]},{"id":"a89a046f.ef17b8","type":"api-call-service","z":"ba7ee3a7.d1849","name":"Away Temp","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.virtual_stat","data":"{\"temperature\":\"15\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":220,"wires":[["82a95243.45051"]]},{"id":"2b308571.5f913a","type":"server-state-changed","z":"ba7ee3a7.d1849","name":"Home or Away","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.someone_home","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":200,"wires":[["1df8c142.b115cf"],["a89a046f.ef17b8","b03a615d.156b8"]]},{"id":"929a9a11.bfd158","type":"server-events","z":"78c82a4d.d74b64","name":"roku listener","server":"e18da729.eb53c8","event_type":"roku_command","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":110,"y":120,"wires":[["31cf996f.23ec96","f1737bf7.3b0ef8"]]},{"id":"31cf996f.23ec96","type":"debug","z":"78c82a4d.d74b64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":120,"wires":[]},{"id":"f1737bf7.3b0ef8","type":"switch","z":"78c82a4d.d74b64","name":"instance","property":"payload.event.source_name","propertyType":"msg","rules":[{"t":"eq","v":"HA Recliner","vt":"str"},{"t":"eq","v":"HA Scenes","vt":"str"},{"t":"eq","v":"HA Lights","vt":"str"},{"t":"eq","v":"Home Assistant","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":120,"y":520,"wires":[["3de16cc7.9e29c4"],["7059a5d7.e61fec"],["56e0fa23.43d524"],[]]},{"id":"3de16cc7.9e29c4","type":"switch","z":"78c82a4d.d74b64","name":"key - Recliner","property":"payload.event.key","propertyType":"msg","rules":[{"t":"eq","v":"InstantReplay","vt":"str"},{"t":"eq","v":"Info","vt":"str"},{"t":"eq","v":"Back","vt":"str"},{"t":"eq","v":"Up","vt":"str"},{"t":"eq","v":"Down","vt":"str"},{"t":"eq","v":"Home","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":540,"y":220,"wires":[["bf650cef.aa8a2"],["7cdf0cd7.9c18f4"],["ba4509f7.e775e8"],["8b886c29.d1227"],["dbae2200.7c236"],["a8b4cde4.212fb"]]},{"id":"bf650cef.aa8a2","type":"api-call-service","z":"78c82a4d.d74b64","name":"upright","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.no_recline","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":100,"wires":[[]]},{"id":"7cdf0cd7.9c18f4","type":"api-call-service","z":"78c82a4d.d74b64","name":"recline","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.full_recline","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":160,"wires":[[]]},{"id":"23382382.57ba2c","type":"comment","z":"78c82a4d.d74b64","name":"mapped commands info","info":"RECLINER:\nno recline - InstantReplay\nfull recline - Info\nfeet up - Back\nnudge up - Up\nnudge down - Down\nheadrest - Home\n\nSCENES:\nbright - Search\ndimmed - BackSpace\n\nLIGHTS\ndimmer up - Up\ndimmer down - Down\n\n","x":170,"y":60,"wires":[]},{"id":"8b886c29.d1227","type":"api-call-service","z":"78c82a4d.d74b64","name":"nudge up","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.recliner_nudge_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":280,"wires":[[]]},{"id":"dbae2200.7c236","type":"api-call-service","z":"78c82a4d.d74b64","name":"nudge down","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.recliner_nudge_down","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":320,"wires":[[]]},{"id":"ba4509f7.e775e8","type":"api-call-service","z":"78c82a4d.d74b64","name":"feet up","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.half_recline","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":220,"wires":[[]]},{"id":"7059a5d7.e61fec","type":"switch","z":"78c82a4d.d74b64","name":"key - Scenes","property":"payload.event.key","propertyType":"msg","rules":[{"t":"eq","v":"Search","vt":"str"},{"t":"eq","v":"BackSpace","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":520,"wires":[["8b7251a4.5c383"],["2ada749c.f52cdc"]]},{"id":"8b7251a4.5c383","type":"api-call-service","z":"78c82a4d.d74b64","name":"bright","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.downstairs_lights_warm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":480,"wires":[[]]},{"id":"2ada749c.f52cdc","type":"api-call-service","z":"78c82a4d.d74b64","name":"dimmed","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.tv_time","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":560,"wires":[[]]},{"id":"56e0fa23.43d524","type":"switch","z":"78c82a4d.d74b64","name":"key - Lights","property":"payload.event.key","propertyType":"msg","rules":[{"t":"eq","v":"Up","vt":"str"},{"t":"eq","v":"Down","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":680,"wires":[[],["753ee063.808d6"]]},{"id":"a8b4cde4.212fb","type":"api-call-service","z":"78c82a4d.d74b64","name":"headrest","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.headrest","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":380,"wires":[[]]},{"id":"dfc14fc7.2ecdc","type":"server-state-changed","z":"ef578843.208fa8","name":"Motion","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lounge_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":140,"wires":[["c756f8be.5664a8"],[]]},{"id":"e3a36944.4a97c8","type":"api-call-service","z":"ef578843.208fa8","name":"Turn On Switch","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.main_lights_lr_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1680,"y":100,"wires":[["ae075381.41f8a"]]},{"id":"1431a078.9ee83","type":"comment","z":"ef578843.208fa8","name":"Lounge - On","info":"","x":110,"y":100,"wires":[]},{"id":"34e01134.4bee2e","type":"api-current-state","z":"ef578843.208fa8","name":"switch off?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.main_lights_lr_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1370,"y":140,"wires":[["e3a36944.4a97c8"],["8b1d12b6.1155a"]]},{"id":"4798ace0.68d544","type":"api-current-state","z":"ef578843.208fa8","name":"bypass switch off","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bypass_lounge_pir","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":140,"wires":[["9d50285.821acd8"],[]]},{"id":"caf1a29f.e2251","type":"api-current-state","z":"ef34104f.ded1","name":"target data","server":"e18da729.eb53c8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_select.heating_area","state_type":"str","state_location":"data.new_state.attributes.options","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":120,"wires":[["bcb1c89b.f94878","ff9f0179.a9d5c"]]},{"id":"3b9aef9b.a2ed2","type":"server-state-changed","z":"ef34104f.ded1","name":"","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.heating_area","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":210,"y":120,"wires":[["caf1a29f.e2251","fa0dce94.51737"]]},{"id":"bcb1c89b.f94878","type":"switch","z":"ef34104f.ded1","name":"","property":"data.attributes.options","propertyType":"msg","rules":[{"t":"eq","v":"{}","vt":"msg"},{"t":"neq","v":"{}","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":120,"wires":[["b8e74a7f.df7638","b9465411.e54308"],["96e021b.6797ee"]]},{"id":"b8e74a7f.df7638","type":"debug","z":"ef34104f.ded1","name":"== {}","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":80,"wires":[]},{"id":"96e021b.6797ee","type":"debug","z":"ef34104f.ded1","name":"!= {}","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":200,"wires":[]},{"id":"b9465411.e54308","type":"api-call-service","z":"ef34104f.ded1","name":"reload input select","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"input_select","service":"reload","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":950,"y":140,"wires":[[]]},{"id":"fa0dce94.51737","type":"debug","z":"ef34104f.ded1","name":"first","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":240,"wires":[]},{"id":"ff9f0179.a9d5c","type":"debug","z":"ef34104f.ded1","name":"second","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":280,"wires":[]},{"id":"92a6912e.d611d","type":"comment","z":"ef34104f.ded1","name":"Fix Heating Area","info":"","x":140,"y":60,"wires":[]},{"id":"63f571f4.64839","type":"mqtt in","z":"1dde20bc.30ba6f","name":"","topic":"smoke_alarm_monitor/tele/SENSOR","qos":"2","datatype":"json","broker":"30f4371.cb05548","x":200,"y":220,"wires":[["d2386971.2f63a8"]]},{"id":"94de3d6.e6540c","type":"debug","z":"1dde20bc.30ba6f","name":"IDLE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":240,"wires":[]},{"id":"d2386971.2f63a8","type":"switch","z":"1dde20bc.30ba6f","name":"","property":"payload.ANALOG.A0","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"num"},{"t":"lt","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":220,"wires":[["f0bf7e57.a4737","197c3f40.5c5931"],["94de3d6.e6540c","f696e733.2f7758"]]},{"id":"f0bf7e57.a4737","type":"debug","z":"1dde20bc.30ba6f","name":"ALERT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":200,"wires":[]},{"id":"7679e8aa.8763f8","type":"mqtt out","z":"1dde20bc.30ba6f","name":"","topic":"smoke_alarm/state","qos":"","retain":"","broker":"30f4371.cb05548","x":810,"y":160,"wires":[]},{"id":"197c3f40.5c5931","type":"change","z":"1dde20bc.30ba6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[["7679e8aa.8763f8"]]},{"id":"f696e733.2f7758","type":"change","z":"1dde20bc.30ba6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":280,"wires":[["25cc6f95.27b43"]]},{"id":"25cc6f95.27b43","type":"mqtt out","z":"1dde20bc.30ba6f","name":"","topic":"smoke_alarm/state","qos":"","retain":"","broker":"30f4371.cb05548","x":810,"y":280,"wires":[]},{"id":"7e5e2b5a.8b3684","type":"comment","z":"1dde20bc.30ba6f","name":"Smokie Monitor","info":"","x":140,"y":100,"wires":[]},{"id":"7deceda8.157074","type":"server-events","z":"92a564e0.0fba78","name":"Deconz Event","server":"e18da729.eb53c8","event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":90,"y":60,"wires":[["effb4f0e.acf2c","50e6fd86.914534","45358c7b.ae6d64"]]},{"id":"effb4f0e.acf2c","type":"debug","z":"92a564e0.0fba78","name":"obj","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":40,"wires":[]},{"id":"50e6fd86.914534","type":"debug","z":"92a564e0.0fba78","name":"msg","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":80,"wires":[]},{"id":"500357de.ed7238","type":"switch","z":"92a564e0.0fba78","name":"Check Button","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"2002","vt":"num"},{"t":"eq","v":"3002","vt":"num"},{"t":"eq","v":"4002","vt":"num"},{"t":"eq","v":"5002","vt":"num"},{"t":"eq","v":"1001","vt":"num"},{"t":"eq","v":"2001","vt":"num"},{"t":"eq","v":"2003","vt":"num"},{"t":"eq","v":"3001","vt":"num"},{"t":"eq","v":"3003","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":400,"y":560,"wires":[["16930dd3.906ce2","27c80d8.ce96ff2"],["72fb368a.987e58"],["764a5c7b.026a24"],["e81c7716.960018"],["75b0451b.00de2c"],["5b47c24b.288ecc"],["8a7048c8.9986f8"],["2a90fa05.a1d176"],["a36a54bc.2737a8"],["774cef53.2b175"]]},{"id":"72fb368a.987e58","type":"mqtt out","z":"92a564e0.0fba78","name":"top - pushed","topic":"tradfri/remote/top_pushed","qos":"","retain":"false","broker":"30f4371.cb05548","x":850,"y":320,"wires":[]},{"id":"8a7048c8.9986f8","type":"mqtt out","z":"92a564e0.0fba78","name":"top - held","topic":"tradfri/remote/top_held","qos":"","retain":"false","broker":"30f4371.cb05548","x":840,"y":620,"wires":[]},{"id":"75b0451b.00de2c","type":"mqtt out","z":"92a564e0.0fba78","name":"right - pushed","topic":"tradfri/remote/right","qos":"","retain":"false","broker":"30f4371.cb05548","x":860,"y":500,"wires":[]},{"id":"16930dd3.906ce2","type":"mqtt out","z":"92a564e0.0fba78","name":"middle - pushed","topic":"tradfri/remote/middle","qos":"","retain":"false","broker":"30f4371.cb05548","x":860,"y":260,"wires":[]},{"id":"e81c7716.960018","type":"mqtt out","z":"92a564e0.0fba78","name":"left - pushed","topic":"tradfri/remote/left","qos":"","retain":"false","broker":"30f4371.cb05548","x":850,"y":440,"wires":[]},{"id":"a36a54bc.2737a8","type":"mqtt out","z":"92a564e0.0fba78","name":"bottom - held","topic":"tradfri/remote/bottom_held","qos":"","retain":"false","broker":"30f4371.cb05548","x":860,"y":740,"wires":[]},{"id":"764a5c7b.026a24","type":"mqtt out","z":"92a564e0.0fba78","name":"bottom - pushed","topic":"tradfri/remote/bottom_pushed","qos":"","retain":"false","broker":"30f4371.cb05548","x":870,"y":380,"wires":[]},{"id":"3e36db9a.2b8c64","type":"mqtt in","z":"92a564e0.0fba78","name":"middle: kitchen light","topic":"tradfri/remote/middle","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":250,"y":1100,"wires":[["fda2472a.703338","ab9438f8.f7a328"]]},{"id":"de6b9b5f.cba978","type":"server-state-changed","z":"ef578843.208fa8","name":"Motion Stopped","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lounge_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":120,"y":300,"wires":[["6fa92663.a69c48"],["f66f4b18.743a28"]]},{"id":"96f017ff.845f68","type":"api-call-service","z":"ef578843.208fa8","name":"Turn Off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.main_lights_lr_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1380,"y":280,"wires":[["a4924e46.e8552"]]},{"id":"ecaa3548.7690c8","type":"stoptimer","z":"ef578843.208fa8","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":780,"y":300,"wires":[["2014797d.9a5ee6"],[]]},{"id":"f66f4b18.743a28","type":"change","z":"ef578843.208fa8","name":"Cancel Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["ecaa3548.7690c8"]]},{"id":"556810a0.055f1","type":"comment","z":"ef578843.208fa8","name":"Lounge - Off","info":"","x":110,"y":240,"wires":[]},{"id":"b4a3b51.8f18448","type":"api-current-state","z":"ef578843.208fa8","name":"Lights on?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.living_room_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":300,"wires":[["ecaa3548.7690c8"],[]]},{"id":"6fa92663.a69c48","type":"api-current-state","z":"ef578843.208fa8","name":"bypass switch off","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bypass_lounge_pir","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":300,"wires":[["b4a3b51.8f18448"],["f66f4b18.743a28"]]},{"id":"ae075381.41f8a","type":"debug","z":"ef578843.208fa8","name":"Lights Turned On","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1870,"y":140,"wires":[]},{"id":"a4924e46.e8552","type":"debug","z":"ef578843.208fa8","name":"Lights Turned Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":400,"wires":[]},{"id":"9d50285.821acd8","type":"api-current-state","z":"ef578843.208fa8","name":"dark oclock?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.getting_dark","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":140,"wires":[["5224b519.b48b1c"],[]]},{"id":"2014797d.9a5ee6","type":"api-current-state","z":"ef578843.208fa8","name":"Telly Off?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.samsung_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1000,"y":240,"wires":[["f7694a6c.4729f8"],["ecaa3548.7690c8"]]},{"id":"2fa1ed93.2496e2","type":"server-state-changed","z":"dc9525f1.7890b8","name":"","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.imac_shutdown","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":190,"y":140,"wires":[[],[]]},{"id":"58dce26.b27f81c","type":"delay","z":"dc9525f1.7890b8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":140,"wires":[["da5c0808.5535d8"]]},{"id":"cff062cf.2c58e","type":"H command","z":"dc9525f1.7890b8","name":"wake","server":"f965c449.cc86b8","activity":"62491773","harmony_type":"dev","label":"Mac Computer","command":"%7B%22command%22::%22Option%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2262491773%22%7D","repeat":"1","x":450,"y":140,"wires":[["58dce26.b27f81c"]]},{"id":"da5c0808.5535d8","type":"H command","z":"dc9525f1.7890b8","name":"shutdown","server":"f965c449.cc86b8","activity":"62491773","harmony_type":"dev","label":"Mac Computer","command":"%7B%22command%22::%22CTRL+Z%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2262491773%22%7D","repeat":"1","x":720,"y":140,"wires":[[]]},{"id":"5b6a792a.e9e158","type":"server-state-changed","z":"dc9525f1.7890b8","name":"iMac Screen On","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.imac_screen","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":280,"wires":[["e2539360.9f5a"],[]]},{"id":"e2539360.9f5a","type":"api-current-state","z":"dc9525f1.7890b8","name":"dark?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.getting_dark","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":280,"wires":[["38450af.96a8af6"],[]]},{"id":"38450af.96a8af6","type":"api-call-service","z":"dc9525f1.7890b8","name":"turn on dining room lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.dining_room_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":280,"wires":[[]]},{"id":"f7694a6c.4729f8","type":"api-current-state","z":"ef578843.208fa8","name":"mac screen on?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.imac_screen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1180,"y":240,"wires":[["a16d7fb4.e13a2"],["96f017ff.845f68"]]},{"id":"a16d7fb4.e13a2","type":"api-call-service","z":"ef578843.208fa8","name":"Turn Off Lounge","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.living_room_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":240,"wires":[["a4924e46.e8552"]]},{"id":"114bce3c.ff96e2","type":"server-state-changed","z":"43406816.aed208","name":"","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"remote.harmony_hub","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":200,"y":180,"wires":[["fbac344d.66bfd8","720f496c.550428"]]},{"id":"fbac344d.66bfd8","type":"api-current-state","z":"43406816.aed208","name":"current activity","server":"e18da729.eb53c8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"remote.harmony_hub","state_type":"str","state_location":"data.new_state.attributes.current_activity","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":180,"wires":[["f6fd5e3f.f6699","22b23133.3a8dde"]]},{"id":"720f496c.550428","type":"debug","z":"43406816.aed208","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":80,"wires":[]},{"id":"f6fd5e3f.f6699","type":"debug","z":"43406816.aed208","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":80,"wires":[]},{"id":"22b23133.3a8dde","type":"switch","z":"43406816.aed208","name":"Activity","property":"data.attributes.current_activity","propertyType":"msg","rules":[{"t":"eq","v":"Shield TV","vt":"str"},{"t":"eq","v":"Smart TV","vt":"str"},{"t":"eq","v":"Shield TV 5.1","vt":"str"},{"t":"eq","v":"Smart TV 5.1","vt":"str"},{"t":"eq","v":"Watch YouView","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":680,"y":180,"wires":[[],[],[],[],[]]},{"id":"620db059.39243","type":"debug","z":"43406816.aed208","name":"shield on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1140,"y":80,"wires":[]},{"id":"ef287220.5837e","type":"api-current-state","z":"ef578843.208fa8","name":"Lights off?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.living_room_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1170,"y":140,"wires":[["34e01134.4bee2e"],[]]},{"id":"8b1d12b6.1155a","type":"api-call-service","z":"ef578843.208fa8","name":"Turn On Lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.downstairs_lights_warm","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1680,"y":160,"wires":[["ae075381.41f8a"]]},{"id":"b03a615d.156b8","type":"debug","z":"ba7ee3a7.d1849","name":"away temp","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":280,"wires":[]},{"id":"a18c93b5.5308c","type":"server-state-changed","z":"8f02f6a2.99b098","name":"","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.bedtime_switch","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":200,"wires":[["17144792.ebef28"],[]]},{"id":"17144792.ebef28","type":"api-call-service","z":"8f02f6a2.99b098","name":"bypass lounge sensors","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.bypass_loung_lux_sensor, input_boolean.bypass_lounge_pir","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":200,"wires":[["63706017.e0c77"]]},{"id":"63706017.e0c77","type":"stoptimer","z":"8f02f6a2.99b098","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":780,"y":200,"wires":[["c346990f.9e0d68"],[]]},{"id":"fff52339.5a5e7","type":"time-range-switch","z":"8f02f6a2.99b098","name":"","lat":"","lon":"","startTime":"06:00","endTime":"09:00","startOffset":0,"endOffset":0,"x":910,"y":80,"wires":[["5dad2537.cf5bdc"],["63706017.e0c77"]]},{"id":"5dad2537.cf5bdc","type":"api-call-service","z":"8f02f6a2.99b098","name":"bypass lounge sensors reset","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.bypass_loung_lux_sensor, input_boolean.bypass_lounge_pir","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":140,"wires":[["f9e8aa24.b76b98"]]},{"id":"f9e8aa24.b76b98","type":"debug","z":"8f02f6a2.99b098","name":"Turn on Sensors in morning","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1460,"y":140,"wires":[]},{"id":"febeabf9.4fc558","type":"comment","z":"8f02f6a2.99b098","name":"Disable Lounge Sensors At Bedtime","info":"","x":220,"y":120,"wires":[]},{"id":"c346990f.9e0d68","type":"api-current-state","z":"8f02f6a2.99b098","name":"Alarm Set?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.security_alarm_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":910,"y":300,"wires":[["fff52339.5a5e7"],["5dad2537.cf5bdc"]]},{"id":"8a9e3381.89252","type":"server-state-changed","z":"1dde20bc.30ba6f","name":"","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.security_alarm_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":250,"y":1140,"wires":[["208e4e00.ae06d2"],[]]},{"id":"d2e85173.2ff1d","type":"time-range-switch","z":"1dde20bc.30ba6f","name":"","lat":"","lon":"","startTime":"21:00","endTime":"04:00","startOffset":0,"endOffset":0,"x":770,"y":1140,"wires":[["5046f651.374088"],[]]},{"id":"e26ad10b.0ce79","type":"api-call-service","z":"1dde20bc.30ba6f","name":"turn on bedtime switch","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.bedtime_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":1160,"wires":[["e1e871fc.530fc"]]},{"id":"9d319e17.9888e","type":"comment","z":"1dde20bc.30ba6f","name":"Bedtime","info":"","x":120,"y":1100,"wires":[]},{"id":"a46ae654.43dae8","type":"debug","z":"1dde20bc.30ba6f","name":"Bedtime Switch on via alarm being armed","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":2000,"y":1140,"wires":[]},{"id":"5046f651.374088","type":"api-current-state","z":"1dde20bc.30ba6f","name":"","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bedtime_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":1140,"wires":[["9523298b.33b2b8"],["e26ad10b.0ce79","416e39b7.fbb758"]]},{"id":"9523298b.33b2b8","type":"api-call-service","z":"1dde20bc.30ba6f","name":"turn on bedtime switch","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.bedtime_downstairs_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":1120,"wires":[["e1e871fc.530fc"]]},{"id":"c756f8be.5664a8","type":"api-current-state","z":"ef578843.208fa8","name":"home?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.someone_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":140,"wires":[["4798ace0.68d544"],[]]},{"id":"5224b519.b48b1c","type":"api-current-state","z":"ef578843.208fa8","name":"Alarm Unset","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"binary_sensor.security_alarm_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":950,"y":140,"wires":[["ef287220.5837e"],[]]},{"id":"a4b3700a.a0d7d","type":"api-call-service","z":"9381589f.b1e528","name":"vstat off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.virtual_stat","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":1400,"wires":[["44a2d0a1.51484"]]},{"id":"5d619f78.a6291","type":"api-call-service","z":"9381589f.b1e528","name":"vstat on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_on","entityId":"climate.virtual_stat","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":1460,"wires":[["9bd59476.0bfd78"]]},{"id":"44a2d0a1.51484","type":"debug","z":"9381589f.b1e528","name":"patio door open - vstat off","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":1420,"wires":[]},{"id":"9bd59476.0bfd78","type":"debug","z":"9381589f.b1e528","name":"patio door closed - vstat on","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":1460,"wires":[]},{"id":"22b90d04.d57ab2","type":"server-state-changed","z":"ef578843.208fa8","name":"Lights State","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.living_room_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":110,"y":380,"wires":[["6fa92663.a69c48"],["f66f4b18.743a28"]]},{"id":"b1345a45.c1ca88","type":"comment","z":"8f02f6a2.99b098","name":"Fan Control","info":"","x":110,"y":380,"wires":[]},{"id":"4293309a.2033","type":"server-state-changed","z":"8f02f6a2.99b098","name":"Olivia Temperature Check >= 23.5","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.olivia_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"23.5","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":160,"y":460,"wires":[["c99644fc.8174c8"],[]]},{"id":"d3e82c3a.670f8","type":"api-call-service","z":"8f02f6a2.99b098","name":"Fan On","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.fan_socket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":420,"wires":[[]]},{"id":"cfcceff9.d1717","type":"api-call-service","z":"8f02f6a2.99b098","name":"Fan Off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.fan_socket","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":500,"wires":[[]]},{"id":"b4427600.d85788","type":"server-state-changed","z":"8f02f6a2.99b098","name":"Olivia Temperature Check <= 22","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.olivia_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"22","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"x":150,"y":520,"wires":[["344aef16.7c836"],[]]},{"id":"c99644fc.8174c8","type":"time-range-switch","z":"8f02f6a2.99b098","name":"","lat":"","lon":"","startTime":"17:30","endTime":"07:00","startOffset":0,"endOffset":0,"x":410,"y":440,"wires":[["d3e82c3a.670f8"],[]]},{"id":"344aef16.7c836","type":"time-range-switch","z":"8f02f6a2.99b098","name":"","lat":"","lon":"","startTime":"17:30","endTime":"07:00","startOffset":0,"endOffset":0,"x":410,"y":520,"wires":[["cfcceff9.d1717"],[]]},{"id":"a8932cda.c8967","type":"comment","z":"680e90c1.35bd5","name":"Volume","info":"","x":90,"y":100,"wires":[]},{"id":"1e3f87f2.6909f8","type":"inject","z":"680e90c1.35bd5","name":"Lower Volume - 8pm","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"num","x":160,"y":160,"wires":[["935ec368.87e2a"]]},{"id":"35f1aeca.94d1b2","type":"debug","z":"680e90c1.35bd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":160,"wires":[]},{"id":"935ec368.87e2a","type":"api-call-service","z":"680e90c1.35bd5","name":"","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.bedroom_speaker, media_player.dining_room_speaker, media_player.kitchen_speaker, media_player.living_room_speaker, media_player.playroom_speaker","data":"{\"volume_level\":\"0.3\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":430,"y":160,"wires":[["35f1aeca.94d1b2"]]},{"id":"416e39b7.fbb758","type":"api-call-service","z":"1dde20bc.30ba6f","name":"turn on bed light","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.under_bed_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":1220,"wires":[["e1e871fc.530fc"]]},{"id":"1adf83f1.cb6f0c","type":"comment","z":"ef578843.208fa8","name":"Lounge - Manual Bypass","info":"","x":150,"y":500,"wires":[]},{"id":"27dc937f.88ca5c","type":"server-state-changed","z":"ef578843.208fa8","name":"LRS Off","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.living_room_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":560,"wires":[["1eb3ee3e.8d3b62"],["7831a16e.a783"]]},{"id":"1eb3ee3e.8d3b62","type":"api-call-service","z":"ef578843.208fa8","name":"turn on bypass switch","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.bypass_lounge_pir, input_boolean.bypass_loung_lux_sensor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":540,"wires":[[]]},{"id":"7831a16e.a783","type":"api-call-service","z":"ef578843.208fa8","name":"turn off bypass switch","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.bypass_lounge_pir, input_boolean.bypass_loung_lux_sensor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":580,"wires":[[]]},{"id":"45358c7b.ae6d64","type":"switch","z":"92a564e0.0fba78","name":"Tradfri Remote?","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"ikea_remote","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":140,"y":180,"wires":[["500357de.ed7238"]]},{"id":"88e90b7e.1fdfe8","type":"switch","z":"92a564e0.0fba78","name":"press type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pushed","vt":"str"},{"t":"eq","v":"held","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":80,"wires":[["19fcc8b.164b537"],["81a9b812.3cccf8"]]},{"id":"19fcc8b.164b537","type":"mqtt out","z":"92a564e0.0fba78","name":"top - pushed","topic":"tradfri/remote/top_pushed","qos":"","retain":"false","broker":"30f4371.cb05548","x":1710,"y":60,"wires":[]},{"id":"81a9b812.3cccf8","type":"mqtt out","z":"92a564e0.0fba78","name":"top - held","topic":"tradfri/remote/top_held","qos":"","retain":"false","broker":"30f4371.cb05548","x":1700,"y":100,"wires":[]},{"id":"2e02e55d.3ba10a","type":"change","z":"92a564e0.0fba78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":80,"wires":[["88e90b7e.1fdfe8"]]},{"id":"5b47c24b.288ecc","type":"mqtt out","z":"92a564e0.0fba78","name":"middle - held","topic":"tradfri/remote/middle_held","qos":"","retain":"false","broker":"30f4371.cb05548","x":850,"y":560,"wires":[]},{"id":"2a90fa05.a1d176","type":"mqtt out","z":"92a564e0.0fba78","name":"top - held off","topic":"tradfri/remote/top_held_off","qos":"","retain":"false","broker":"30f4371.cb05548","x":850,"y":680,"wires":[]},{"id":"774cef53.2b175","type":"mqtt out","z":"92a564e0.0fba78","name":"bottom - held off","topic":"tradfri/remote/bottom_held_off","qos":"","retain":"false","broker":"30f4371.cb05548","x":870,"y":800,"wires":[]},{"id":"6cec06bf.71c8a8","type":"mqtt in","z":"92a564e0.0fba78","name":"middle: held: bedtime","topic":"tradfri/remote/middle_held","qos":"2","datatype":"auto","broker":"30f4371.cb05548","x":260,"y":1180,"wires":[["bca32b0a.4dc308"]]},{"id":"fda2472a.703338","type":"api-current-state","z":"92a564e0.0fba78","name":"kitchen light on?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.kitchen_light_switch","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":1100,"wires":[["9f6d206c.f65c4"],["852c8bb3.092ff8"]]},{"id":"9f6d206c.f65c4","type":"api-call-service","z":"92a564e0.0fba78","name":"turn off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_light_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":1080,"wires":[[]]},{"id":"852c8bb3.092ff8","type":"api-call-service","z":"92a564e0.0fba78","name":"turn on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_light_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":1120,"wires":[[]]},{"id":"bca32b0a.4dc308","type":"api-call-service","z":"92a564e0.0fba78","name":"turn on bedtime","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.bedtime_switch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":1180,"wires":[[]]},{"id":"ab9438f8.f7a328","type":"debug","z":"92a564e0.0fba78","name":"mqtt recieved","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":1040,"wires":[]},{"id":"27c80d8.ce96ff2","type":"debug","z":"92a564e0.0fba78","name":"button","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":360,"wires":[]},{"id":"6afaa9ff.44159","type":"api-current-state","z":"8b4f69f4.4c17a8","name":"","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.olivias_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":120,"wires":[["9792c342.bbed48"],["1239431.9f247bd"]]},{"id":"f3c8633.6fb86a","type":"api-current-state","z":"8b4f69f4.4c17a8","name":"","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.landing_light_switch_top","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":540,"wires":[["71be52e5.49e21c"],["cdf051e.b71c5b"]]},{"id":"cdf051e.b71c5b","type":"api-call-service","z":"8b4f69f4.4c17a8","name":"turn on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.olivia_bed_rainbow","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":560,"wires":[[]]},{"id":"71be52e5.49e21c","type":"api-call-service","z":"8b4f69f4.4c17a8","name":"turn off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"light.wled_olivias_bed_master","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":520,"wires":[[]]},{"id":"efef7fc0.8c06f","type":"api-call-service","z":"8b4f69f4.4c17a8","name":"turn on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.olivias_night_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":280,"wires":[[]]},{"id":"220ce254.a256ce","type":"api-call-service","z":"8b4f69f4.4c17a8","name":"turn off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"light.olivias_bed_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":220,"wires":[[]]},{"id":"75c2f770.cc5538","type":"api-current-state","z":"8b4f69f4.4c17a8","name":"bed light state","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.olivias_bed_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":260,"wires":[["220ce254.a256ce"],["efef7fc0.8c06f"]]},{"id":"20975606.3ab62a","type":"api-call-service","z":"8b4f69f4.4c17a8","name":"turn on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.olivias_bed_top, light.olivias_bed_top, light.olivias_bed_bottom","data":"{\"brightness_pct\": 100}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":420,"wires":[[]]},{"id":"b2c0c3d0.bbbec","type":"api-call-service","z":"8b4f69f4.4c17a8","name":"turn off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"light.olivias_bed_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":380,"wires":[[]]},{"id":"8562934.fb9597","type":"api-current-state","z":"8b4f69f4.4c17a8","name":"bed light state","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.olivias_bed_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":400,"wires":[["b2c0c3d0.bbbec"],["20975606.3ab62a"]]},{"id":"46364ff7.d3b99","type":"debug","z":"8b4f69f4.4c17a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":140,"wires":[]},{"id":"8bdd4573.3fb608","type":"api-call-service","z":"9381589f.b1e528","name":"hall stat off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_off","entityId":"climate.hall_thermostat","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":1340,"wires":[[]]},{"id":"51242e07.5af0d","type":"api-call-service","z":"9381589f.b1e528","name":"hall stat on","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"climate","service":"turn_on","entityId":"climate.hall_thermostat","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":1520,"wires":[[]]},{"id":"761cb33e.ea33ec","type":"api-call-service","z":"9381589f.b1e528","name":"heating off","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.heating","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":1360,"wires":[[]]},{"id":"3c4b0767.22e628","type":"api-call-service","z":"4381a749.36f3d8","name":"Bed lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wled_olivias_bed_master","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":260,"y":320,"wires":[[]]},{"id":"e1e871fc.530fc","type":"api-call-service","z":"1dde20bc.30ba6f","name":"turn off ds lights","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.all_downstairs_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":1140,"wires":[["a46ae654.43dae8"]]},{"id":"e8364a16.6a22e8","type":"api-current-state","z":"f83b6212.788a88","name":"Ignore PIR?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bypass_lounge_pir","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":240,"wires":[["aa74df9.c44622"],[]]},{"id":"208e4e00.ae06d2","type":"trigger-state","z":"1dde20bc.30ba6f","name":"previous off","server":"e18da729.eb53c8","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.security_alarm_status","entityidfiltertype":"exact","debugenabled":true,"constraints":[{"id":"dyvbje0ny9j","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"ntbcmcrh7o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":550,"y":1140,"wires":[["d2e85173.2ff1d"],[]]},{"id":"56889e43.47ca4","type":"server-state-changed","z":"1dde20bc.30ba6f","name":"Front Door","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":500,"wires":[["47724557.7d815c"],[]]},{"id":"1bb287bf.ffad08","type":"api-current-state","z":"1dde20bc.30ba6f","name":"Security Sensors Armed?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.security_sensors","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":570,"y":580,"wires":[["140570b3.6a9a2f"],[]]},{"id":"140570b3.6a9a2f","type":"api-call-service","z":"1dde20bc.30ba6f","name":"siren","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.intruder_alarm_triggered","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":520,"wires":[[]]},{"id":"efda4fd3.3112a","type":"server-state-changed","z":"1dde20bc.30ba6f","name":"Patio Door","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.patio_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":580,"wires":[["1bb287bf.ffad08"],[]]},{"id":"b243f096.6f42c","type":"server-state-changed","z":"1dde20bc.30ba6f","name":"alarm set?","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.security_alarm_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":760,"wires":[["e42ba08b.f52f3"],["64f1da2c.9fedb4"]]},{"id":"e42ba08b.f52f3","type":"api-call-service","z":"1dde20bc.30ba6f","name":"arm security sensors","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.security_sensors","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":740,"wires":[[]]},{"id":"64f1da2c.9fedb4","type":"api-call-service","z":"1dde20bc.30ba6f","name":"disarm security sensors","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.security_sensors","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":780,"wires":[[]]},{"id":"a17f789e.2a9308","type":"time-range-switch","z":"1dde20bc.30ba6f","name":"Overnight","lat":"","lon":"","startTime":"22:00","endTime":"07:00","startOffset":0,"endOffset":0,"x":560,"y":500,"wires":[["140570b3.6a9a2f"],["1dfa6937.9c1217"]]},{"id":"47724557.7d815c","type":"api-current-state","z":"1dde20bc.30ba6f","name":"Security Sensors Armed?","server":"e18da729.eb53c8","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.security_sensors","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":500,"wires":[["a17f789e.2a9308"],[]]},{"id":"1dfa6937.9c1217","type":"stoptimer","z":"1dde20bc.30ba6f","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":810,"y":440,"wires":[["140570b3.6a9a2f"],[]]},{"id":"eb81d5bf.1bbd98","type":"change","z":"1dde20bc.30ba6f","name":"Cancel Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":440,"wires":[["1dfa6937.9c1217"]]},{"id":"a09cf5ae.f42978","type":"server-state-changed","z":"1dde20bc.30ba6f","name":"security sensor off","server":"e18da729.eb53c8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.security_sensors","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":370,"y":420,"wires":[["eb81d5bf.1bbd98"],[]]},{"id":"753ee063.808d6","type":"api-current-state","z":"78c82a4d.d74b64","name":"","server":"e18da729.eb53c8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.living_room_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":860,"y":720,"wires":[["79846f73.9ada9"]]},{"id":"79846f73.9ada9","type":"debug","z":"78c82a4d.d74b64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":780,"wires":[]},{"id":"b606f364.c2044","type":"inject","z":"680e90c1.35bd5","name":"Raise Volume - 8am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"num","x":160,"y":240,"wires":[["e20ed9ab.f7bc88"]]},{"id":"81e4d4a9.6b16a8","type":"debug","z":"680e90c1.35bd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":240,"wires":[]},{"id":"e20ed9ab.f7bc88","type":"api-call-service","z":"680e90c1.35bd5","name":"","server":"e18da729.eb53c8","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.bedroom_speaker, media_player.dining_room_speaker, media_player.kitchen_speaker, media_player.living_room_speaker, media_player.playroom_speaker","data":"{\"volume_level\":\"0.5\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":430,"y":240,"wires":[["81e4d4a9.6b16a8"]]}]
